In [2]:
from collections import defaultdict
from datetime import datetime
import torch
import pandas as pd

In [3]:
m1_1m_path = 'datasets/ml-1m'

In [4]:
retail_path = 'datasets/Retailrocket'

In [5]:
file_path = m1_1m_path + '/movies.dat'
data_movies = pd.read_csv(file_path, encoding='latin-1', sep='::', engine='python',
                   names=['MovieID', 'Title', 'Genres'], index_col='MovieID')
genres = data_movies['Genres'].str.get_dummies('|')
data_movies= pd.concat([data_movies, genres], axis=1)
data_movies.drop('Genres', axis=1, inplace=True)
data_movies

,Title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
MovieID,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Jumanji (1995),0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
4,Waiting to Exhale (1995),0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
5,Father of the Bride Part II (1995),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3948,Meet the Parents (2000),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3949,Requiem for a Dream (2000),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3950,Tigerland (2000),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3951,Two Family House (2000),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3952,"Contender, The (2000)",0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0

In [6]:
file_path = m1_1m_path + '/users.dat'
data_users = pd.read_csv(file_path, sep='::', engine='python',
                   names=['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code'], index_col='UserID')


# Convert Gender to binary indicator variable
data_users['Gender'] = (data_users['Gender'] == 'M').astype(int)
occupation_map = {
    0: 'other',
    1: 'academic/educator',
    2: 'artist',
    3: 'clerical/admin',
    4: 'college/grad student',
    5: 'customer service',
    6: 'doctor/health care',
    7: 'executive/managerial',
    8: 'farmer',
    9: 'homemaker',
    10: 'K-12 student',
    11: 'lawyer',
    12: 'programmer',
    13: 'retired',
    14: 'sales/marketing',
    15: 'scientist',
    16: 'self-employed',
    17: 'technician/engineer',
    18: 'tradesman/craftsman',
    19: 'unemployed',
    20: 'writer'
}
# data['Occupation'] = data['Occupation'].map(occupation_map)
data_users

        Gender  Age  Occupation Zip-code
UserID
1            0    1          10    48067
2            1   56          16    70072
3            1   25          15    55117
4            1   45           7    02460
5            1   25          20    55455
...        ...  ...         ...      ...
6036         0   25          15    32603
6037         0   45           1    76006
6038         0   56           1    14706
6039         0   45           0    01060
6040         1   25           6    11106

[6040 rows x 4 columns]

In [18]:
file_path = m1_1m_path + '/ratings.dat'

data_ratings = pd.read_csv(file_path, sep='::', engine='python',
                   names=['UserID', 'MovieID', 'Rating', 'Timestamp'], index_col='UserID')

data_ratings.loc[1]

        MovieID  Rating  Timestamp
UserID
1          1193       5  978300760
1           661       3  978302109
1           914       3  978301968
1          3408       4  978300275
1          2355       5  978824291
1          1197       3  978302268
1          1287       5  978302039
1          2804       5  978300719
1           594       4  978302268
1           919       4  978301368
1           595       5  978824268
1           938       4  978301752
1          2398       4  978302281
1          2918       4  978302124
1          1035       5  978301753
1          2791       4  978302188
1          2687       3  978824268
1          2018       4  978301777
1          3105       5  978301713
1          2797       4  978302039
1          2321       3  978302205
1           720       3  978300760
1          1270       5  978300055
1           527       5  978824195
1          2340       3  978300103
1            48       5  978824351
1          1097       4  978301953
1          1721       4  978300055
1          1545       4  978824139
1           745       3  978824268
1          2294       4  978824291
1          3186       4  978300019
1          1566       4  978824330
1           588       4  978824268
1          1907       4  978824330
1           783       4  978824291
1          1836       5  978300172
1          1022       5  978300055
1          2762       4  978302091
1           150       5  978301777
1             1       5  978824268
1          1961       5  978301590
1          1962       4  978301753
1          2692       4  978301570
1           260       4  978300760
1          1028       5  978301777
1          1029       5  978302205
1          1207       4  978300719
1          2028       5  978301619
1           531       4  978302149
1          3114       4  978302174
1           608       4  978301398
1          1246       4  978302091

In [8]:
data_ratings.loc[2]

        MovieID  Rating  Timestamp
UserID
2          1357       5  978298709
2          3068       4  978299000
2          1537       4  978299620
2           647       3  978299351
2          2194       4  978299297
...         ...     ...        ...
2           356       5  978299686
2          1245       2  978299200
2          1246       5  978299418
2          3893       1  978299535
2          1247       5  978298652

[129 rows x 3 columns]

## SASRec handling
Only use implicit feedback in the sequence of items

In [19]:
data_ratings

        MovieID  Rating  Timestamp
UserID
1          1193       5  978300760
1           661       3  978302109
1           914       3  978301968
1          3408       4  978300275
1          2355       5  978824291
...         ...     ...        ...
6040       1091       1  956716541
6040       1094       5  956704887
6040        562       5  956704746
6040       1096       4  956715648
6040       1097       4  956715569

[1000209 rows x 3 columns]

In [24]:
order_ratings = data_ratings.groupby('UserID').apply(lambda  x: x.sort_values('Timestamp'))
# use timestamps to determine the sequence order of actions.
order_ratings = order_ratings.groupby('UserID').filter(lambda  x: len(x) >= 5)
# We discard users and items with fewer than 5 related actions.

In [33]:
sas_data = order_ratings.drop('Rating', axis=1, inplace=False).drop('Timestamp', axis=1, inplace=False)
## ..continue
sas_data.loc[1]

        MovieID
UserID
1          3186
1          1721
1          1022
1          1270
1          2340
1          1836
1          3408
1          1207
1          2804
1           720
1          1193
1           260
1           919
1           608
1          2692
1          1961
1          2028
1          3105
1           938
1          1962
1          1035
1           150
1          2018
1          1028
1          1097
1           914
1          2797
1          1287
1          2762
1          1246
1           661
1          2918
1           531
1          3114
1          2791
1          1029
1          2321
1          1197
1           594
1          2398
1          1545
1           527
1             1
1           588
1          2687
1           745
1           595
1          2294
1           783
1          2355
1          1907
1          1566
1            48

In [37]:
with open('datasets/processed_SASRec/m1_1m.txt', 'w') as f:
    for _id in sas_data.index:
        for  user_id, movie_id in sas_data.loc[_id].iterrows():
            f.write('%d %d\n' % (user_id, movie_id))

KeyboardInterrupt: