In [84]:
from collections import defaultdict
from datetime import datetime
import torch
import numpy as np
import pandas as pd

In [2]:
ml_20m_path = '../../../../datasets/ml-20m'

In [3]:
file_path = ml_20m_path + '/ratings.csv'
data = pd.read_csv(file_path, encoding='latin-1', sep=',', engine='python', index_col='userId')

In [4]:
data

        movieId  rating   timestamp
userId
1             2     3.5  1112486027
1            29     3.5  1112484676
1            32     3.5  1112484819
1            47     3.5  1112484727
1            50     3.5  1112484580
...         ...     ...         ...
138493    68954     4.5  1258126920
138493    69526     4.5  1259865108
138493    69644     3.0  1260209457
138493    70286     5.0  1258126944
138493    71619     2.5  1255811136

[20000263 rows x 3 columns]

In [5]:
actions = data
actions = actions.groupby('movieId').filter(lambda  x: len(x) >= 5)
actions = actions.groupby('userId').filter(lambda  x: len(x) >= 5)

In [6]:
actions = actions.groupby('userId', group_keys=False).apply(lambda  x: x.sort_values('timestamp'))

In [7]:
actions

        movieId  rating   timestamp
userId
1           924     3.5  1094785598
1           919     3.5  1094785621
1          2683     3.5  1094785650
1          1584     3.5  1094785656
1          1079     4.0  1094785665
...         ...     ...         ...
138493     6534     3.0  1260209908
138493    53464     4.0  1260209920
138493     1275     3.0  1262378552
138493     6996     3.0  1262378555
138493      405     3.0  1262378572

[19984024 rows x 3 columns]

In [8]:
# data = data.groupby('userId')
min = 100000
max = 0
total = 0
for i in range(1, actions.index.max()):
    total += len(actions.loc[i])
    if len(data.loc[i]) < min:
        min = len(actions.loc[i])
    if len(data.loc[i]) > max:
        max = len(actions.loc[i])
min, max, total/actions.index.max()

(20, 8540, 144.2935816250641)

In [9]:
usermap = dict()
usernum = 0
itemmap = dict()
itemnum = 0
# reorder the userid and itemid (keep the same step with original SASRec code)
for _id, row in actions.iterrows():
    if _id in usermap:
        userid = usermap[_id]
    else:
        usernum += 1
        userid = usernum
        usermap[_id] = userid

    if row.movieId in itemmap:
        itemid = itemmap[row.movieId]
    else:
        itemnum += 1
        itemid = itemnum
        itemmap[row.movieId] = itemid

In [10]:
usermap.__len__(), itemmap.__len__()

(138493, 18345)

In [11]:
actions['movieId'] = actions['movieId'].map(itemmap)
actions.index = actions.index.map(usermap)

In [12]:
actions

        movieId  rating   timestamp
userId
1             1     3.5  1094785598
1             2     3.5  1094785621
1             3     3.5  1094785650
1             4     3.5  1094785656
1             5     4.0  1094785665
...         ...     ...         ...
138493      872     3.0  1260209908
138493      797     4.0  1260209920
138493     2336     3.0  1262378552
138493      946     3.0  1262378555
138493      789     3.0  1262378572

[19984024 rows x 3 columns]

In [13]:
sas_data = actions.drop('rating', axis=1, inplace=False).drop('timestamp', axis=1, inplace=False)

In [14]:
with open('ml-20m.txt', 'w') as f:
    for _id in set(sas_data.index):
        for movie_id in sas_data.loc[_id].movieId:
            f.write('%d %d\n' % (_id, movie_id))

In [15]:
sas_data

        movieId
userId
1             1
1             2
1             3
1             4
1             5
...         ...
138493      872
138493      797
138493     2336
138493      946
138493      789

[19984024 rows x 1 columns]

In [16]:
userMaxTime = actions.groupby('userId').timestamp.max()

In [17]:
userMaxTime

userId
1         1112486201
2          974821014
3          945176099
4          840879654
5          851617728
             ...
138489    1352990179
138490     975545576
138491    1247183347
138492    1115351450
138493    1262378572
Name: timestamp, Length: 138493, dtype: int64

In [30]:
day = 86400
num_day = 14
userSplitTime = userMaxTime - num_day * day

In [31]:
actions

        movieId  rating   timestamp
userId
1             1     3.5  1094785598
1             2     3.5  1094785621
1             3     3.5  1094785650
1             4     3.5  1094785656
1             5     4.0  1094785665
...         ...     ...         ...
138493      872     3.0  1260209908
138493      797     4.0  1260209920
138493     2336     3.0  1262378552
138493      946     3.0  1262378555
138493      789     3.0  1262378572

[19984024 rows x 3 columns]

In [32]:
userSplitTime

userId
1         1111276601
2          973611414
3          943966499
4          839670054
5          850408128
             ...
138489    1351780579
138490     974335976
138491    1245973747
138492    1114141850
138493    1261168972
Name: timestamp, Length: 138493, dtype: int64

In [38]:
def filter_input(group):
    user_id = group.index[0]
    limit = userSplitTime.loc[user_id]
    return group[group['timestamp'] < limit]

def filter_target(group):
    user_id = group.index[0]
    limit = userSplitTime.loc[user_id]
    return group[group['timestamp'] >= limit]

In [65]:
input_data = actions.groupby('userId').apply(filter_input)
target_window = actions.groupby('userId').apply(filter_target)

In [66]:
input_data = input_data.reset_index(level=1, drop=True)

In [54]:
input_data

        movieId  rating   timestamp
userId
1             1     3.5  1094785598
1             2     3.5  1094785621
1             3     3.5  1094785650
1             4     3.5  1094785656
1             5     4.0  1094785665
...         ...     ...         ...
138493     1901     4.5  1260209726
138493      978     3.5  1260209807
138493      971     4.0  1260209811
138493      872     3.0  1260209908
138493      797     4.0  1260209920

[10504095 rows x 3 columns]

In [67]:
target_window = target_window.reset_index(level=1, drop=True)

In [55]:
target_window

        movieId  rating   timestamp
userId
1            47     3.5  1112484493
1            48     3.5  1112484525
1            49     3.5  1112484537
1            50     3.0  1112484548
1            51     4.0  1112484560
...         ...     ...         ...
138492     2955     4.0  1115351448
138492      189     5.0  1115351450
138493     2336     3.0  1262378552
138493      946     3.0  1262378555
138493      789     3.0  1262378572

[9479929 rows x 3 columns]

In [68]:
input_idx = set(input_data.index)
target_idx = set(target_window.index)
valid_userid = input_idx.intersection(target_idx)

In [70]:
len(valid_userid)

39019

In [72]:
valid_user = sorted(list(valid_userid))
valid_user

[1,
 11,
 17,
 18,
 24,
 34,
 35,
 40,
 41,
 43,
 46,
 47,
 48,
 51,
 56,
 58,
 60,
 61,
 65,
 82,
 89,
 90,
 91,
 93,
 96,
 100,
 103,
 107,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 140,
 144,
 153,
 154,
 156,
 162,
 167,
 170,
 186,
 189,
 205,
 206,
 208,
 209,
 213,
 215,
 218,
 219,
 220,
 222,
 223,
 228,
 233,
 238,
 239,
 241,
 247,
 248,
 258,
 267,
 268,
 269,
 271,
 275,
 278,
 279,
 283,
 290,
 294,
 304,
 306,
 309,
 312,
 313,
 314,
 317,
 318,
 334,
 335,
 337,
 339,
 342,
 343,
 344,
 347,
 348,
 349,
 351,
 359,
 361,
 367,
 370,
 372,
 375,
 376,
 378,
 379,
 380,
 383,
 386,
 387,
 388,
 389,
 390,
 394,
 409,
 412,
 413,
 415,
 419,
 421,
 423,
 425,
 431,
 439,
 440,
 441,
 445,
 448,
 449,
 451,
 453,
 455,
 456,
 459,
 466,
 468,
 469,
 470,
 471,
 474,
 485,
 486,
 487,
 488,
 489,
 490,
 495,
 503,
 505,
 506,
 508,
 514,
 516,
 520,
 523,
 534,
 535,
 539,
 540,
 544,
 549,
 557,
 567,
 572,
 573,
 575,
 577,
 578,
 581,
 583,
 584,
 586,
 587,
 593,
 594,
 603,
 604,
 609,
 614,
 619,
 627,
 628,
 631,
 632,
 634,
 635,
 637,
 638,
 648,
 650,
 654,
 662,
 663,
 664,
 670,
 671,
 672,
 673,
 674,
 675,
 678,
 688,
 689,
 694,
 696,
 699,
 707,
 710,
 711,
 713,
 721,
 724,
 727,
 729,
 732,
 735,
 737,
 738,
 739,
 741,
 742,
 744,
 751,
 757,
 760,
 761,
 764,
 765,
 768,
 769,
 776,
 778,
 786,
 787,
 790,
 792,
 793,
 794,
 796,
 798,
 804,
 812,
 816,
 817,
 821,
 824,
 827,
 828,
 829,
 834,
 839,
 846,
 847,
 853,
 860,
 862,
 863,
 864,
 868,
 870,
 878,
 885,
 887,
 890,
 893,
 894,
 900,
 902,
 903,
 910,
 914,
 920,
 923,
 926,
 929,
 932,
 935,
 940,
 942,
 943,
 947,
 953,
 955,
 959,
 964,
 969,
 971,
 975,
 981,
 982,
 986,
 990,
 994,
 995,
 1001,
 1011,
 1015,
 1020,
 1022,
 1023,
 1024,
 1026,
 1028,
 1030,
 1032,
 1034,
 1038,
 1042,
 1044,
 1045,
 1052,
 1057,
 1068,
 1073,
 1076,
 1078,
 1081,
 1084,
 1087,
 1093,
 1095,
 1102,
 1107,
 1108,
 1113,
 1123,
 1125,
 1133,
 1136,
 1140,
 1141,
 1145,
 1148,
 1149,
 1150,
 1152,
 1155,
 1160,
 1165,
 1170,
 1174,
 1175,
 1187,
 1188,
 1190,
 1191,
 1195,
 1198,
 1200,
 1202,
 1206,
 1207,
 1209,
 1216,
 1217,
 1219,
 1222,
 1223,
 1225,
 1228,
 1233,
 1236,
 1244,
 1254,
 1263,
 1265,
 1268,
 1270,
 1271,
 1277,
 1280,
 1282,
 1288,
 1291,
 1296,
 1301,
 1308,
 1310,
 1313,
 1314,
 1317,
 1320,
 1326,
 1330,
 1334,
 1336,
 1338,
 1339,
 1341,
 1357,
 1359,
 1367,
 1369,
 1372,
 1374,
 1378,
 1381,
 1384,
 1387,
 1390,
 1391,
 1396,
 1403,
 1408,
 1411,
 1412,
 1418,
 1419,
 1421,
 1422,
 1426,
 1430,
 1433,
 1436,
 1437,
 1441,
 1442,
 1447,
 1449,
 1452,
 1453,
 1454,
 1455,
 1457,
 1458,
 1459,
 1475,
 1486,
 1494,
 1496,
 1507,
 1508,
 1510,
 1511,
 1514,
 1515,
 1516,
 1518,
 1523,
 1528,
 1530,
 1537,
 1539,
 1546,
 1548,
 1550,
 1551,
 1553,
 1554,
 1555,
 1559,
 1560,
 1563,
 1566,
 1567,
 1568,
 1571,
 1577,
 1581,
 1583,
 1584,
 1587,
 1588,
 1591,
 1593,
 1598,
 1600,
 1601,
 1602,
 1604,
 1610,
 1612,
 1616,
 1626,
 1627,
 1629,
 1644,
 1646,
 1650,
 1653,
 1657,
 1662,
 1663,
 1666,
 1667,
 1669,
 1672,
 1678,
 1679,
 1682,
 1685,
 1689,
 1690,
 1693,
 1698,
 1702,
 1703,
 1707,
 1714,
 1715,
 1716,
 1718,
 1719,
 1728,
 1734,
 1735,
 1736,
 1741,
 1748,
 1750,
 1755,
 1757,
 1758,
 1762,
 1763,
 1767,
 1770,
 1775,
 1777,
 1779,
 1786,
 1789,
 1803,
 1807,
 1810,
 1813,
 1816,
 1817,
 1825,
 1826,
 1829,
 1830,
 1831,
 1835,
 1837,
 1839,
 1843,
 1848,
 1849,
 1851,
 1854,
 1855,
 1863,
 1864,
 1868,
 1876,
 1877,
 1882,
 1883,
 1885,
 1887,
 1888,
 1889,
 1896,
 1906,
 1908,
 1915,
 1917,
 1919,
 1924,
 1925,
 1927,
 1928,
 1932,
 1935,
 1937,
 1939,
 1942,
 1946,
 1947,
 1958,
 1959,
 1963,
 1966,
 1970,
 1972,
 1980,
 1983,
 1984,
 1988,
 1994,
 2001,
 2003,
 2004,
 2005,
 2007,
 2008,
 2010,
 2015,
 2020,
 2022,
 2024,
 2026,
 2029,
 2030,
 2031,
 2033,
 2034,
 2035,
 2036,
 2038,
 2043,
 2044,
 2045,
 2047,
 2048,
 2051,
 2052,
 2055,
 2061,
 2062,
 2068,
 2070,
 2072,
 2080,
 2081,
 2083,
 2084,
 2086,
 2092,
 2095,
 2099,
 2104,
 2105,
 2107,
 2113,
 2114,
 2117,
 2119,
 2120,
 2126,
 2127,
 2128,
 2130,
 2136,
 2138,
 2140,
 2157,
 2158,
 2161,
 2165,
 2166,
 2169,
 2170,
 2171,
 2172,
 2175,
 2177,
 2181,
 2184,
 2188,
 2193,
 2194,
 2199,
 2202,
 2208,
 2209,
 2211,
 2213,
 2217,
 2221,
 2222,
 2226,
 2227,
 2229,
 2230,
 2231,
 2232,
 2233,
 2234,
 2235,
 2236,
 2239,
 2243,
 2244,
 2245,
 2246,
 2247,
 2248,
 2249,
 2254,
 2258,
 2259,
 2261,
 2264,
 2268,
 2269,
 2270,
 2274,
 2275,
 2276,
 2278,
 2281,
 2282,
 2284,
 2289,
 2298,
 2299,
 2300,
 2301,
 2310,
 2311,
 2316,
 2320,
 2321,
 2324,
 2328,
 2332,
 2334,
 2335,
 2338,
 2339,
 2340,
 2344,
 2345,
 2349,
 2350,
 2352,
 2367,
 2368,
 2371,
 2373,
 2378,
 2379,
 2386,
 2392,
 2394,
 2395,
 2397,
 2398,
 2399,
 2402,
 2404,
 2409,
 2417,
 2423,
 2426,
 2428,
 2430,
 2436,
 2440,
 2444,
 2456,
 2468,
 2474,
 2476,
 2483,
 2484,
 2487,
 2488,
 2492,
 2494,
 2502,
 2513,
 2514,
 2515,
 2517,
 2518,
 2523,
 2529,
 2540,
 2544,
 2549,
 2550,
 2551,
 2553,
 2555,
 2558,
 2568,
 2570,
 2581,
 2582,
 2584,
 2586,
 2589,
 2593,
 2595,
 2600,
 2601,
 2605,
 2606,
 2611,
 2612,
 2623,
 2626,
 2630,
 2633,
 2643,
 2644,
 2649,
 2650,
 2653,
 2655,
 2656,
 2657,
 2669,
 2671,
 2676,
 2679,
 2680,
 2681,
 2689,
 2691,
 2694,
 2698,
 2702,
 2703,
 2707,
 2708,
 2711,
 2713,
 2718,
 2720,
 2724,
 2725,
 2728,
 2731,
 2734,
 2735,
 2736,
 2740,
 2742,
 2743,
 2750,
 2751,
 2752,
 2755,
 2756,
 2757,
 2761,
 2762,
 2771,
 2772,
 2782,
 2783,
 2787,
 2789,
 2791,
 2793,
 2810,
 2812,
 2813,
 2822,
 2823,
 2826,
 2833,
 2834,
 2835,
 2836,
 2843,
 2847,
 2848,
 2851,
 2855,
 2856,
 2860,
 2863,
 2865,
 2867,
 2874,
 2875,
 2877,
 2885,
 2887,
 2891,
 2892,
 2893,
 2899,
 2903,
 2908,
 2909,
 2910,
 2912,
 2914,
 2915,
 2916,
 2918,
 2925,
 2930,
 2931,
 2934,
 2937,
 2945,
 2949,
 2950,
 2951,
 2955,
 2959,
 2970,
 2972,
 2973,
 2974,
 2978,
 2982,
 2983,
 2988,
 2992,
 3000,
 3009,
 3017,
 3020,
 3022,
 3024,
 3025,
 3029,
 3030,
 3031,
 3032,
 3033,
 3037,
 3038,
 3052,
 3053,
 3054,
 3059,
 3060,
 3061,
 3069,
 3073,
 3075,
 3077,
 3079,
 3081,
 3086,
 3088,
 3094,
 3101,
 3102,
 3103,
 3106,
 3115,
 3117,
 3121,
 3127,
 3128,
 3135,
 3138,
 3142,
 3146,
 3149,
 3152,
 3155,
 3157,
 3159,
 3163,
 3165,
 3171,
 3177,
 3178,
 3179,
 3182,
 3183,
 3184,
 3187,
 3191,
 3195,
 3196,
 3197,
 3201,
 3203,
 3212,
 3216,
 3218,
 3222,
 3223,
 3224,
 3225,
 3226,
 3227,
 3228,
 3229,
 3236,
 3240,
 3242,
 3248,
 3249,
 3251,
 3254,
 3256,
 3257,
 3263,
 3264,
 3266,
 3267,
 3268,
 3269,
 3271,
 3272,
 3273,
 3275,
 3277,
 3279,
 3281,
 3282,
 3284,
 3287,
 3288,
 3289,
 3292,
 3295,
 3316,
 3317,
 ...]

In [87]:
with open('ml-20m_train.txt', 'w') as f:
    for _id in valid_user:
        movie_id_data = input_data.loc[_id].movieId
        if isinstance(movie_id_data, pd.Series):
            for movie_id in movie_id_data:
                f.write('%d %d\n' % (_id, movie_id))
        else:  # it's a single value, not a list
            f.write('%d %d\n' % (_id, movie_id_data))

In [83]:
list(input_data.loc[7448].movieId)

TypeError: 'numpy.float64' object is not iterable

In [88]:
with open('ml-20m_target.txt', 'w') as f:
    for _id in valid_user:
        movie_id_data = target_window.loc[_id].movieId
        if isinstance(movie_id_data, pd.Series):
            for movie_id in movie_id_data:
                f.write('%d %d\n' % (_id, movie_id))
        else:  # it's a single value, not a list
            f.write('%d %d\n' % (_id, movie_id_data))