In [5]:
from collections import defaultdict
from datetime import datetime
import torch
import pandas as pd

In [6]:
ml_1m_path = '../../../../datasets/ml-1m'

In [7]:
file_path = ml_1m_path + '/movies.dat'
# file_path = Path(file_path)
data_movies = pd.read_csv(file_path, encoding='latin-1', sep='::', engine='python',
                   names=['MovieID', 'Title', 'Genres'], index_col='MovieID')
genres = data_movies['Genres'].str.get_dummies('|')
data_movies= pd.concat([data_movies, genres], axis=1)
# [row, columns], axis = 1 is column
data_movies.drop('Genres', axis=1, inplace=True)
data_movies

,Title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
MovieID,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Jumanji (1995),0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
4,Waiting to Exhale (1995),0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
5,Father of the Bride Part II (1995),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3948,Meet the Parents (2000),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3949,Requiem for a Dream (2000),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3950,Tigerland (2000),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3951,Two Family House (2000),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3952,"Contender, The (2000)",0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0

In [8]:
file_path = ml_1m_path + '/users.dat'
data_users = pd.read_csv(file_path, sep='::', engine='python',
                   names=['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code'], index_col='UserID')

# Convert Gender to binary indicator variable
data_users['Gender'] = (data_users['Gender'] == 'M').astype(int)
occupation_map = {
    0: 'other',
    1: 'academic/educator',
    2: 'artist',
    3: 'clerical/admin',
    4: 'college/grad student',
    5: 'customer service',
    6: 'doctor/health care',
    7: 'executive/managerial',
    8: 'farmer',
    9: 'homemaker',
    10: 'K-12 student',
    11: 'lawyer',
    12: 'programmer',
    13: 'retired',
    14: 'sales/marketing',
    15: 'scientist',
    16: 'self-employed',
    17: 'technician/engineer',
    18: 'tradesman/craftsman',
    19: 'unemployed',
    20: 'writer'
}
# data['Occupation'] = data['Occupation'].map(occupation_map)
data_users

        Gender  Age  Occupation Zip-code
UserID
1            0    1          10    48067
2            1   56          16    70072
3            1   25          15    55117
4            1   45           7    02460
5            1   25          20    55455
...        ...  ...         ...      ...
6036         0   25          15    32603
6037         0   45           1    76006
6038         0   56           1    14706
6039         0   45           0    01060
6040         1   25           6    11106

[6040 rows x 4 columns]

In [9]:
file_path = ml_1m_path + '/ratings.dat'

data_ratings = pd.read_csv(file_path, sep='::', engine='python',
                   names=['UserID', 'MovieID', 'Rating', 'Timestamp'], index_col='UserID')

In [10]:
data_ratings

        MovieID  Rating  Timestamp
UserID
1          1193       5  978300760
1           661       3  978302109
1           914       3  978301968
1          3408       4  978300275
1          2355       5  978824291
...         ...     ...        ...
6040       1091       1  956716541
6040       1094       5  956704887
6040        562       5  956704746
6040       1096       4  956715648
6040       1097       4  956715569

[1000209 rows x 3 columns]

## SASRec handling
Only use implicit feedback in the sequence of items

In [11]:
data_ratings

        MovieID  Rating  Timestamp
UserID
1          1193       5  978300760
1           661       3  978302109
1           914       3  978301968
1          3408       4  978300275
1          2355       5  978824291
...         ...     ...        ...
6040       1091       1  956716541
6040       1094       5  956704887
6040        562       5  956704746
6040       1096       4  956715648
6040       1097       4  956715569

[1000209 rows x 3 columns]

In [81]:
# use timestamps to determine the sequence order of actions.
actions = data_ratings
actions = actions.groupby('MovieID').filter(lambda  x: len(x) >= 5)
actions = actions.groupby('UserID').filter(lambda  x: len(x) >= 5)
actions = actions.groupby('UserID', group_keys=False).apply(lambda  x: x.sort_values('Timestamp'))
# We discard users and items with fewer than 5 related actions.
actions

        MovieID  Rating  Timestamp
UserID
1          3186       4  978300019
1          1721       4  978300055
1          1022       5  978300055
1          1270       5  978300055
1          2340       3  978300103
...         ...     ...        ...
6040       2917       4  997454429
6040       1784       3  997454464
6040       1921       4  997454464
6040        161       3  997454486
6040       1221       4  998315055

[999611 rows x 3 columns]

In [82]:
usermap = dict()
usernum = 0
itemmap = dict()
itemnum = 0
# reorder the userid and itemid (keep the same step with original SASRec code)
for _id, row in actions.iterrows():
    if _id in usermap:
        userid = usermap[_id]
    else:
        usernum += 1
        userid = usernum
        usermap[_id] = userid

    if row.MovieID in itemmap:
        itemid = itemmap[row.MovieID]
    else:
        itemnum += 1
        itemid = itemnum
        itemmap[row.MovieID] = itemid

In [83]:
usermap.__len__(), itemmap.__len__()

(6040, 3416)

In [84]:
actions['MovieID'] = actions['MovieID'].map(itemmap)
actions.index = actions.index.map(usermap)
# data['Occupation'] = data['Occupation'].map(occupation_map)

In [15]:
actions

        MovieID  Rating  Timestamp
UserID
1             1       4  978300019
1             2       4  978300055
1             3       5  978300055
1             4       5  978300055
1             5       3  978300103
...         ...     ...        ...
6040       1249       4  997454429
6040         88       3  997454464
6040        371       4  997454464
6040        464       3  997454486
6040        431       4  998315055

[999611 rows x 3 columns]

In [86]:
sas_data = actions.drop('Rating', axis=1, inplace=False).drop('Timestamp', axis=1, inplace=False)

In [18]:
with open('ml-1m.txt', 'w') as f:
    for _id in set(sas_data.index):
        for movie_id in sas_data.loc[_id].MovieID:
            f.write('%d %d\n' % (_id, movie_id))

In [90]:
day = 86400
usernum = actions.index.max()
split_percent = 0.9
split_index = int(len(actions.loc[3]) * split_percent)
train_seq = actions.loc[3].iloc[:split_index]
target_seq = actions.loc[3].iloc[split_index:]
target_seq.Timestamp.max() - train_seq.Timestamp.max()
# actions.loc[1].Timestamp.max() -

188

In [91]:
userMaxTime = actions.groupby('UserID').Timestamp.max()
userActLength = actions.groupby('UserID').size()
split_index = (userActLength * split_percent).astype(int)
userMaxTime, split_index

(UserID
 1       978824351
 2       978300174
 3       978298504
 4       978294282
 5       978246585
           ...
 6036    956755196
 6037    956801840
 6038    956717204
 6039    956758029
 6040    998315055
 Name: Timestamp, Length: 6040, dtype: int64,
 UserID
 1        47
 2       116
 3        45
 4        18
 5       178
        ...
 6036    799
 6037    181
 6038     18
 6039    110
 6040    306
 Length: 6040, dtype: int32)

In [80]:
window_size = []
for i in range(1 ,actions.index.max() + 1):
    cur_seq = actions.loc[i]
    split = split_index.loc[i]
    train_seq = cur_seq.iloc[:split]
    target_seq = cur_seq.iloc[split:]
    window_size.append(target_seq.iloc[-1].Timestamp - train_seq.iloc[-1].Timestamp)

seq_avg_length= userActLength.mean()
seq_avg_length # , window_size

(165.49850993377484,
 [156,
  261,
  338,
  22,
  722,
  1110,
  24,
  15650,
  363,
  1470652,
  5279,
  57,
  160,
  314,
  149252,
  124,
  318,
  1560,
  15127680,
  112,
  117,
  12994916,
  15241369,
  8022472,
  253412,
  113844,
  324,
  858897,
  351,
  129,
  301,
  2645,
  3199,
  293,
  107557,
  46843182,
  295,
  1181,
  120,
  209,
  1551,
  714,
  128,
  1606,
  1033,
  70,
  92,
  342578,
  838908,
  120,
  122,
  648,
  6620,
  102,
  89,
  230,
  282,
  943,
  860,
  77,
  199,
  1753,
  2210449,
  215,
  46524175,
  480,
  579,
  305,
  213,
  129,
  139,
  251,
  3053711,
  406,
  897421,
  344,
  161,
  288,
  259,
  15991573,
  414,
  1041313,
  322,
  356,
  327,
  4505964,
  73585,
  159,
  7046,
  89185,
  127,
  522861,
  1078,
  0,
  1133,
  1186,
  22094588,
  183,
  697,
  437,
  478,
  4003124,
  367,
  81,
  74,
  98,
  249,
  404,
  1021,
  459,
  337,
  73,
  491,
  2867558,
  42,
  810,
  1138434,
  693,
  702569,
  183,
  244,
  131,
  1630409,
  183,
  73684,
  120,
  34574157,
  109,
  1217,
  115,
  61708675,
  199,
  17370128,
  44055616,
  74,
  925,
  727,
  75,
  851,
  6819977,
  50,
  3206299,
  448,
  197,
  176,
  31886062,
  1033,
  617650,
  32277744,
  37292748,
  10688945,
  65,
  6572108,
  110,
  766,
  477,
  57189067,
  0,
  119,
  423,
  712,
  3108771,
  910876,
  14000230,
  457,
  2077985,
  283,
  150,
  65637636,
  540,
  88,
  55,
  17286550,
  135,
  2824479,
  100,
  428,
  415,
  132,
  740,
  1352,
  189,
  4239772,
  115,
  150,
  468,
  1301,
  156,
  174,
  483,
  71555,
  54968793,
  1591,
  5023,
  35087104,
  75,
  24632,
  14347498,
  18431,
  67,
  32398115,
  1534,
  247,
  3579410,
  230,
  0,
  53,
  19716663,
  44,
  252,
  119,
  40959,
  141,
  641,
  2075774,
  1658,
  111,
  13622893,
  237,
  447,
  62,
  174,
  1960,
  11926509,
  344932,
  44,
  110,
  15385252,
  6821585,
  1241,
  6246249,
  166,
  288,
  2497396,
  41311283,
  243,
  51207048,
  421,
  48361408,
  703,
  542,
  14966382,
  649,
  64136,
  92495,
  139,
  210,
  1682442,
  552,
  149,
  445705,
  543,
  317778,
  45,
  885,
  333,
  170,
  439,
  8199265,
  670,
  2857,
  151,
  216,
  8996055,
  264,
  299,
  26605021,
  6058,
  442845,
  28178476,
  28496100,
  1201,
  837,
  920,
  215,
  175,
  25,
  419,
  256,
  109,
  236,
  265,
  53,
  172852,
  48632816,
  25020,
  146,
  158,
  191,
  20,
  864,
  1480,
  31729668,
  274,
  780,
  262,
  246,
  111,
  7958755,
  309,
  496,
  37563642,
  5516914,
  27,
  205,
  59077987,
  334,
  2661,
  802826,
  35599116,
  32502157,
  224,
  263,
  33337532,
  165,
  816,
  140,
  78,
  51388336,
  57,
  4649369,
  301,
  292,
  259,
  1126,
  3382819,
  85294,
  294,
  60958814,
  5415805,
  1368643,
  26737783,
  1125,
  1160,
  748,
  1129880,
  2105,
  36122308,
  477,
  383,
  52,
  320,
  16831747,
  270,
  85,
  1012,
  517,
  194,
  17850576,
  155,
  35573023,
  3150,
  217,
  181,
  65246717,
  516,
  856,
  224,
  197,
  1028,
  324745,
  2421622,
  68,
  188,
  521,
  71070,
  116,
  12175604,
  265,
  314,
  468,
  594394,
  63,
  147,
  98,
  3554700,
  482,
  60,
  627,
  280559,
  77,
  4497967,
  144,
  107,
  528,
  1311,
  2756810,
  272,
  221,
  1001,
  5033072,
  18154835,
  360,
  215,
  2338,
  697,
  60,
  2234,
  157,
  97,
  408,
  8388471,
  70081365,
  7722114,
  16486520,
  1300,
  56,
  2661,
  804,
  249,
  44147054,
  34254381,
  314,
  453,
  757,
  4504,
  0,
  394,
  464,
  6906711,
  176,
  417,
  115,
  25044132,
  603408,
  797,
  82,
  136,
  708,
  108,
  1116913,
  180,
  175,
  181,
  731,
  258,
  216,
  39991437,
  8157367,
  184,
  340,
  28865155,
  259980,
  1064,
  593,
  355,
  27,
  184,
  64,
  150,
  842,
  826,
  32708341,
  1268173,
  29,
  587,
  2098,
  196,
  222,
  284,
  755,
  33852972,
  605,
  288,
  169,
  416,
  608,
  86,
  206,
  124,
  275,
  251,
  1119038,
  58805,
  361,
  1610,
  452,
  154,
  394,
  13927239,
  161381,
  35438597,
  142,
  140,
  213,
  127,
  39575992,
  0,
  60,
  843,
  85,
  193,
  279,
  789,
  681,
  49152271,
  70,
  669,
  2061,
  9016349,
  94,
  84,
  323,
  166251,
  1582,
  98,
  75,
  2096,
  1816,
  393,
  77,
  133,
  1141,
  6598063,
  297,
  1602022,
  478,
  64464121,
  3134963,
  3816401,
  97,
  67,
  246,
  1890,
  708552,
  77,
  199,
  55885720,
  4582018,
  388,
  39404576,
  49,
  78800,
  6899,
  113,
  480,
  332,
  160,
  302,
  91,
  707,
  211,
  218361,
  788,
  186,
  956,
  208,
  337,
  67213070,
  2378,
  863,
  824,
  1458,
  342,
  73,
  1020,
  130,
  83888,
  16,
  792,
  207,
  52,
  425,
  157,
  54,
  1149838,
  617,
  83,
  490,
  1122,
  169,
  54,
  149,
  40,
  508303,
  264,
  280,
  45,
  349,
  166,
  522,
  171,
  10336158,
  147,
  15680,
  757,
  16442044,
  20306854,
  220,
  287,
  1413,
  194,
  26955887,
  265,
  7363453,
  73,
  99,
  4977,
  35,
  2174254,
  2233,
  126,
  140,
  467,
  716,
  200,
  67,
  10132047,
  26693958,
  310,
  14608093,
  1093,
  250,
  106,
  779,
  151,
  61,
  119,
  99,
  468,
  1292,
  182,
  31621392,
  32906894,
  782,
  16453167,
  300,
  550,
  471,
  570,
  980,
  56,
  9543518,
  68714,
  601,
  193,
  1482,
  638,
  8524100,
  20,
  704,
  729,
  134,
  18022,
  129,
  832,
  769,
  14514076,
  8313388,
  57,
  2599,
  163,
  71,
  310,
  1950,
  363,
  2415399,
  255,
  489,
  1183808,
  19480,
  439,
  394,
  498,
  55,
  704,
  36128101,
  427,
  1011,
  562,
  9075474,
  250,
  329360,
  74326,
  37,
  1351947,
  557,
  54350941,
  317,
  92,
  151,
  127,
  430,
  178,
  427,
  359,
  1090,
  44,
  365,
  762,
  1974,
  47709969,
  2677762,
  120,
  792,
  63202586,
  228,
  7482,
  93461,
  69,
  684,
  1565,
  64,
  141,
  614,
  903,
  5478942,
  103,
  603,
  52694097,
  5007491,
  538490,
  1273,
  2770635,
  3977702,
  3449,
  72,
  278,
  92,
  559,
  17619314,
  511,
  399,
  460,
  683,
  239,
  33530642,
  445,
  395,
  1211,
  927,
  292,
  291,
  128,
  2340616,
  978,
  1530,
  16643,
  1728654,
  123,
  206,
  85,
  56873841,
  1351,
  332847,
  9587866,
  133,
  949,
  38711969,
  159,
  25,
  35662452,
  29048249,
  941,
  1376950,
  169,
  35003,
  112,
  388,
  495829,
  67,
  414,
  164,
  782,
  2089,
  281,
  450,
  1099512,
  141,
  13772248,
  3120,
  23,
  175863,
  14342227,
  71,
  350,
  4577503,
  595,
  146,
  3125,
  1148,
  84,
  8711096,
  638,
  366,
  139,
  10399502,
  949,
  465,
  59,
  53412600,
  94,
  437,
  114,
  63186656,
  957067,
  358,
  3780,
  77,
  3167,
  67423,
  2715,
  256,
  137,
  302,
  211,
  66,
  37666,
  174,
  848,
  340976,
  266,
  495,
  83,
  156,
  1207,
  734,
  466,
  328,
  165,
  46,
  33752047,
  895,
  173121,
  117379,
  376,
  47,
  458,
  24943167,
  229,
  165,
  269,
  290,
  141,
  32,
  328,
  80,
  17933596,
  64861154,
  50714671,
  174,
  439,
  5881,
  216,
  449,
  38417806,
  313,
  11331276,
  297,
  4778,
  423,
  85,
  249,
  2590,
  9333,
  22352704,
  664,
  447,
  671,
  163,
  523,
  12219844,
  74,
  347597,
  91,
  159,
  147,
  180,
  1500,
  153,
  92,
  36112632,
  3002,
  43,
  3483,
  352,
  1996,
  2360362,
  722,
  281,
  778015,
  314,
  149,
  21260846,
  91,
  218,
  17485,
  13149,
  109303,
  15137550,
  351,
  207,
  507,
  1131363,
  179,
  334,
  29672009,
  282,
  4208931,
  102,
  940,
  70,
  326,
  2161081,
  230,
  184,
  28,
  199,
  391,
  6103547,
  70645441,
  133,
  50381237,
  433,
  185,
  64,
  738,
  655,
  1176,
  530,
  2772446,
  596671,
  537,
  297,
  251,
  247,
  957,
  933,
  10858298,
  802,
  237,
  62,
  209,
  165007,
  1112,
  1420210,
  35937584,
  97,
  171,
  327,
  0,
  519,
  52439367,
  240,
  1321,
  235,
  478,
  13011259,
  3582,
  102,
  0,
  826,
  58618598,
  561,
  2064,
  462,
  3529532,
  756,
  1464,
  1885,
  27,
  1282462,
  4802996,
  141,
  6415,
  394,
  173,
  91,
  43,
  1155,
  1123,
  162,
  555,
  124,
  1207565,
  56,
  625,
  376,
  3197594,
  794,
  2675043,
  89,
  270,
  12734825,
  951,
  39,
  11087448,
  1270484,
  3278,
  1588,
  350278,
  1233,
  498298,
  145,
  140,
  24788712,
  3709131,
  215,
  1009,
  669,
  ...])

In [25]:
def data_partition_window(fname):
    usernum = 0
    itemnum = 0
    User = defaultdict(list)
    split_percent = 0.9
    user_train = {}
    user_valid = {}
    user_test = {}
    # assume user/item index starting from 1
    f = open('%s.txt' % fname, 'r')
    # read from each line
    for line in f:
        u, i = line.rstrip().split(' ')
        u = int(u)
        i = int(i)
        usernum = max(u, usernum)
        itemnum = max(i, itemnum)
        User[u].append(i)
    # read from each user
    count = 1
    for user in User:
        nfeedback = len(User[user])
        if nfeedback < 3:
            user_train[user] = User[user]
            user_valid[user] = []
            user_test[user] = []
        else:
            # select the whole training seq
            # user_train[user] = User[user][:-2]
            train_seq = User[user][:-2]
            train_seq_length =len(train_seq)
            split_index = int(train_seq_length * split_percent)
            input_seq = train_seq[:split_index]
            target_seq = train_seq[split_index:]
            for target in target_seq:
                user_train[count] = input_seq + [target]
                count+=1
            user_valid[user] = []
            user_valid[user].append(User[user][-2])
            user_test[user] = []
            user_test[user].append(User[user][-1])
    return [user_train, user_valid, user_test, usernum, itemnum]

In [27]:
dataset = data_partition_window('ml-1m')

In [28]:
[user_train, user_valid, user_test, usernum, itemnum] = dataset

In [29]:
len(user_train), user_train[101442]

(101442,
 [553,
  341,
  66,
  16,
  1025,
  2760,
  1532,
  1282,
  2509,
  1639,
  322,
  387,
  13,
  3334,
  42,
  2478,
  61,
  772,
  3021,
  2577,
  63,
  14,
  124,
  17,
  1953,
  294,
  390,
  29,
  288,
  801,
  15,
  268,
  2504,
  22,
  543,
  337,
  290,
  2498,
  122,
  282,
  100,
  324,
  1966,
  538,
  466,
  968,
  961,
  116,
  1095,
  279,
  273,
  1270,
  291,
  350,
  465,
  132,
  272,
  458,
  239,
  1165,
  84,
  892,
  1955,
  204,
  348,
  60,
  1529,
  1099,
  565,
  1257,
  58,
  2703,
  391,
  1359,
  55,
  2499,
  1960,
  2560,
  1551,
  214,
  1534,
  1299,
  89,
  54,
  79,
  1306,
  1259,
  1899,
  217,
  99,
  1026,
  806,
  521,
  71,
  200,
  25,
  1816,
  1246,
  20,
  35,
  2890,
  948,
  386,
  741,
  1094,
  634,
  1393,
  118,
  203,
  1092,
  828,
  257,
  259,
  742,
  101,
  577,
  848,
  56,
  236,
  740,
  1192,
  30,
  989,
  1952,
  1260,
  800,
  1428,
  1950,
  1138,
  97,
  1895,
  205,
  184,
  1591,
  1101,
  1302,
  1304,
  2738,
  222,
  1301,
  611,
  633,
  745,
  393,
  637,
  120,
  1032,
  1360,
  228,
  2402,
  644,
  2861,
  2625,
  934,
  1001,
  396,
  402,
  629,
  1221,
  1191,
  1984,
  1113,
  859,
  660,
  755,
  858,
  1350,
  722,
  57,
  2938,
  1194,
  710,
  1718,
  1117,
  1153,
  1290,
  1293,
  1719,
  1219,
  1601,
  1240,
  2662,
  695,
  1043,
  1066,
  2037,
  2044,
  2009,
  783,
  597,
  1248,
  242,
  769,
  2034,
  2177,
  12,
  2661,
  11,
  771,
  219,
  77,
  1457,
  598,
  436,
  1231,
  2477,
  1460,
  586,
  974,
  580,
  761,
  1501,
  1132,
  2301,
  64,
  610,
  2310,
  2033,
  220,
  232,
  197,
  574,
  271,
  284,
  1729,
  1616,
  1948,
  2806,
  1272,
  91,
  2027,
  134,
  2807,
  300,
  744,
  10,
  1611,
  274,
  65,
  767,
  1448,
  444,
  570,
  603,
  43,
  81,
  959,
  1133,
  869,
  572,
  87,
  979,
  1466,
  730,
  760,
  2032,
  1286,
  319,
  977,
  199,
  94,
  1487,
  1531,
  85,
  1450,
  215,
  1572,
  2356,
  1568,
  303,
  1592,
  96,
  2889,
  308,
  784,
  105,
  128,
  3029,
  2479,
  360,
  971,
  283,
  540,
  1635,
  129,
  281,
  104,
  677,
  1091,
  316,
  2154,
  2724,
  1648,
  1175,
  90,
  251,
  1658,
  67,
  1565,
  1235,
  568,
  270,
  2485,
  213,
  2462,
  371])

In [37]:
import numpy as np
user = np.random.randint(1, usernum + 1)
user

136

5922

1910

726

# Evaluation metrix modification

In [94]:
from collections import defaultdict

def data_partition(fname):
    usernum = 0
    itemnum = 0
    User = defaultdict(list)
    user_train = {}
    user_valid = {}
    user_test = {}
    # assume user/item index starting from 1
    f = open('%s.txt' % fname, 'r')
    for line in f:
        u, i = line.rstrip().split(' ')
        u = int(u)
        i = int(i)
        usernum = max(u, usernum)
        itemnum = max(i, itemnum)
        User[u].append(i)

    for user in User:
        nfeedback = len(User[user])
        if nfeedback < 3:
            user_train[user] = User[user]
            user_valid[user] = []
            user_test[user] = []
        else:
            user_train[user] = User[user][:-2]
            user_valid[user] = []
            user_valid[user].append(User[user][-2])
            user_test[user] = []
            user_test[user].append(User[user][-1])
    return [user_train, user_valid, user_test, usernum, itemnum]

In [98]:
dataset = data_partition('ml-1m')
dataset[0]

KeyError: 0

In [3]:
import random
import numpy as np
import copy
import torch
import sys

def evaluate_window_valid(model, dataset, args):
    [train, valid, test, usernum, itemnum] = copy.deepcopy(dataset)
    Recall = 0.0
    P90 = 0.0
    # P90 coverage means the smallest item sets that appear in the top 10 lists of at least 90% of the users.
    valid_user = 0.0
    sample_nums = 500
    random_items = random.sample(range(1, itemnum + 1), sample_nums)
    # if usernum > 10000:
    #     # avoid too many training users
    #     # keep at most 10000 users
    #     users = random.sample(range(1, usernum + 1), 10000)
    # else:
    #     # else keep all the users
    #     users = range(1, usernum + 1)
    users = range(1, usernum+1)
    for u in users:
        # make sure the sequence can be validated
        if len(train[u]) < 1 or len(valid[u]) < 1: continue
        seq = np.zeros([args.maxlen], dtype=np.int32)
        idx = args.maxlen - 1
        for i in reversed(train[u]):
            seq[idx] = i
            # fill the sequence from end to beginning
            idx -= 1
            if idx == -1: break
            # select the max len or all of the training data in the sequence
            # limit the length, seq contains the actual training sequence
        rated = set(train[u])
        rated.add(0)
        # all items interacted by the current user
        item_idx = [valid[u][0]]
        # get the index of validated item
        for _ in range(100):
            # negative sampling
            t = np.random.randint(1, itemnum + 1)
            # randomly sample 100 items
            while t in rated: t = np.random.randint(1, itemnum + 1)
            item_idx.append(t)
        predictions = -model.predict(*[np.array(l) for l in [[u], [seq], item_idx]])
        # predicting the recommendation list
        predictions = predictions[0]
        rank = predictions.argsort().argsort()[0].item()
        # the rank of the expected next single item
        valid_user += 1
        if rank < 10:
            Recall += 1
            # P90 coverage
        if valid_user % 100 == 0:
            print('.', end="")
            sys.stdout.flush()
    return Recall / valid_user, P90 / valid_user

In [4]:
import argparse

def str2bool(s):
    if s not in {'false', 'true'}:
        raise ValueError('Not a valid boolean string')
    return s == 'true'

def create_args(args):
    parser = argparse.ArgumentParser()
    parser.add_argument('--dataset', required=True)
    parser.add_argument('--train_dir', required=True)
    parser.add_argument('--batch_size', default=128, type=int)
    parser.add_argument('--lr', default=0.001, type=float)
    parser.add_argument('--maxlen', default=50, type=int)
    parser.add_argument('--hidden_units', default=50, type=int)
    parser.add_argument('--num_blocks', default=2, type=int)
    parser.add_argument('--num_epochs', default=201, type=int)
    parser.add_argument('--num_heads', default=1, type=int)
    parser.add_argument('--dropout_rate', default=0.5, type=float)
    parser.add_argument('--l2_emb', default=0.0, type=float)
    parser.add_argument('--device', default='cpu', type=str)
    parser.add_argument('--inference_only', default=False, type=str2bool)
    parser.add_argument('--state_dict_path', default=None, type=str)
    args = parser.parse_args(args)
    return args

In [5]:
from models.SASRec.model import SASRec
[train, valid, test, usernum, itemnum] = copy.deepcopy(dataset)
model_path = '../../processed/ml-1m_repro2/SASRec.epoch=201.lr=0.001.layer=2.head=1.hidden=50.maxlen=200.pth'
# args.device = 'ml-1m'
# args.train_dir = 'test'
# args.state_dict_path = model_path
# args.inference
args = create_args(['--dataset','ml-1m',
                    '--train_dir', 'test',
                    '--device', 'cuda',
                    '--state_dict_path', model_path,
                    '--inference_only', 'true',
                    '--maxlen', '200'])
# print(args.dataset)
model = SASRec(usernum, itemnum, args).to(args.device) # no ReLU activation in original SASRec implementation?
model.load_state_dict(torch.load(args.state_dict_path, map_location=torch.device(args.device)))

In [6]:
# seq = np.zeros([200], dtype=np.int32)
from collections import Counter

def window_eval(model, dataset, args):
    [train, valid, test, usernum, itemnum] = copy.deepcopy(dataset)
    Recall = 0.0
    P90 = 0.0
    coverage_list = []
    # P90 coverage means the smallest item sets that appear in the top 10 lists of at least 90% of the users.
    valid_user = 0.0
    sample_nums = 100
    random_items = random.sample(range(1, itemnum + 1), sample_nums)
    sample_idx = random_items
    sample_idx_tensor = torch.tensor(sample_idx).to(args.device)
    users = range(1, usernum+1)
    for u in users:
        if len(train[u]) < 1 or len(valid[u]) < 1: continue
        seq = np.zeros([args.maxlen], dtype=np.int32)
        idx = args.maxlen - 1
        for i in reversed(train[u]):
            seq[idx] = i
            # fill the sequence from end to beginning
            idx -= 1
            if idx == -1: break
            # select the max len or all of the training data in the sequence
            # limit the length, seq contains the actual training sequence
        # interacted items
        rated = set(train[u])
        rated.add(0)
        # ground truth item
        ground_truth_idx = [valid[u][0]]
        # collect all indexes, which needs to process on
        process_idx = ground_truth_idx + sample_idx
        predictions = -model.predict(*[np.array(l) for l in [[u], [seq], process_idx]])[0]
        # target distance
        target_d = predictions[0]
        # sampled results
        sample_d = predictions[1:]
        # print(len(sample_d))
        bool_tensor = target_d >= sample_d
        count = torch.sum(bool_tensor).item()
        if count < 10:
            Recall += 1
        sorted_indices = torch.argsort(sample_d)
        sorted_sample_idx = sample_idx_tensor[sorted_indices]
        # take the coverage@10 for all users
        coverage_list+=list(sorted_sample_idx[:10])
        valid_user+=1
    p90_list = [i.item() for i in coverage_list]
    p90_dict = Counter(p90_list)
    p90_sort = sorted(p90_dict.items(), key=lambda x: x[1], reverse=True)
    total_rec = 0
    item_count = 0
    for _, num in p90_sort:
        total_rec+= num
        item_count+= 1
        if total_rec>=0.9*10*usernum:
            break
    return Recall/ valid_user, item_count/sample_nums

In [7]:
r_10, p90_10 = window_eval(model, dataset, args)
r_10, p90_10

(0.6837748344370861, 0.39)

In [324]:
r_10

0.7220198675496688

In [325]:
p90_10[0]

tensor(555, device='cuda:0')

In [4]:
train_user = [7,3,2,8,6,1]
train_user[:-1]

[7, 3, 2, 8, 6]