In [1]:
from collections import defaultdict
from datetime import datetime
import torch
import pandas as pd

In [2]:
ml_1m_path = '../../../../datasets/ml-1m'

In [3]:
file_path = ml_1m_path + '/movies.dat'
# file_path = Path(file_path)
data_movies = pd.read_csv(file_path, encoding='latin-1', sep='::', engine='python',
                   names=['MovieID', 'Title', 'Genres'], index_col='MovieID')
genres = data_movies['Genres'].str.get_dummies('|')
data_movies= pd.concat([data_movies, genres], axis=1)
# [row, columns], axis = 1 is column
data_movies.drop('Genres', axis=1, inplace=True)
data_movies

,Title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
MovieID,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Jumanji (1995),0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
4,Waiting to Exhale (1995),0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
5,Father of the Bride Part II (1995),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3948,Meet the Parents (2000),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3949,Requiem for a Dream (2000),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3950,Tigerland (2000),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3951,Two Family House (2000),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3952,"Contender, The (2000)",0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0

In [4]:
file_path = ml_1m_path + '/users.dat'
data_users = pd.read_csv(file_path, sep='::', engine='python',
                   names=['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code'], index_col='UserID')

# Convert Gender to binary indicator variable
data_users['Gender'] = (data_users['Gender'] == 'M').astype(int)
occupation_map = {
    0: 'other',
    1: 'academic/educator',
    2: 'artist',
    3: 'clerical/admin',
    4: 'college/grad student',
    5: 'customer service',
    6: 'doctor/health care',
    7: 'executive/managerial',
    8: 'farmer',
    9: 'homemaker',
    10: 'K-12 student',
    11: 'lawyer',
    12: 'programmer',
    13: 'retired',
    14: 'sales/marketing',
    15: 'scientist',
    16: 'self-employed',
    17: 'technician/engineer',
    18: 'tradesman/craftsman',
    19: 'unemployed',
    20: 'writer'
}
# data['Occupation'] = data['Occupation'].map(occupation_map)
data_users

        Gender  Age  Occupation Zip-code
UserID
1            0    1          10    48067
2            1   56          16    70072
3            1   25          15    55117
4            1   45           7    02460
5            1   25          20    55455
...        ...  ...         ...      ...
6036         0   25          15    32603
6037         0   45           1    76006
6038         0   56           1    14706
6039         0   45           0    01060
6040         1   25           6    11106

[6040 rows x 4 columns]

In [5]:
file_path = ml_1m_path + '/ratings.dat'

data_ratings = pd.read_csv(file_path, sep='::', engine='python',
                   names=['UserID', 'MovieID', 'Rating', 'Timestamp'], index_col='UserID')

In [6]:
data_ratings

        MovieID  Rating  Timestamp
UserID
1          1193       5  978300760
1           661       3  978302109
1           914       3  978301968
1          3408       4  978300275
1          2355       5  978824291
...         ...     ...        ...
6040       1091       1  956716541
6040       1094       5  956704887
6040        562       5  956704746
6040       1096       4  956715648
6040       1097       4  956715569

[1000209 rows x 3 columns]

## SASRec handling
Only use implicit feedback in the sequence of items

In [10]:
data_ratings

        MovieID  Rating  Timestamp
UserID
1          1193       5  978300760
1           661       3  978302109
1           914       3  978301968
1          3408       4  978300275
1          2355       5  978824291
...         ...     ...        ...
6040       1091       1  956716541
6040       1094       5  956704887
6040        562       5  956704746
6040       1096       4  956715648
6040       1097       4  956715569

[1000209 rows x 3 columns]

In [7]:
# use timestamps to determine the sequence order of actions.
actions = data_ratings
actions = actions.groupby('MovieID').filter(lambda  x: len(x) >= 5)
actions = actions.groupby('UserID').filter(lambda  x: len(x) >= 5)
actions = actions.groupby('UserID', group_keys=False).apply(lambda  x: x.sort_values('Timestamp'))
# We discard users and items with fewer than 5 related actions.
actions

        MovieID  Rating  Timestamp
UserID
1          3186       4  978300019
1          1721       4  978300055
1          1022       5  978300055
1          1270       5  978300055
1          2340       3  978300103
...         ...     ...        ...
6040       2917       4  997454429
6040       1784       3  997454464
6040       1921       4  997454464
6040        161       3  997454486
6040       1221       4  998315055

[999611 rows x 3 columns]

In [8]:
usermap = dict()
usernum = 0
itemmap = dict()
itemnum = 0
# reorder the userid and itemid (keep the same step with original SASRec code)
for _id, row in actions.iterrows():
    if _id in usermap:
        userid = usermap[_id]
    else:
        usernum += 1
        userid = usernum
        usermap[_id] = userid

    if row.MovieID in itemmap:
        itemid = itemmap[row.MovieID]
    else:
        itemnum += 1
        itemid = itemnum
        itemmap[row.MovieID] = itemid

In [9]:
usermap.__len__(), itemmap.__len__()

(6040, 3416)

In [10]:
actions['MovieID'] = actions['MovieID'].map(itemmap)
actions.index = actions.index.map(usermap)
# data['Occupation'] = data['Occupation'].map(occupation_map)

In [15]:
actions

        MovieID  Rating  Timestamp
UserID
1             1       4  978300019
1             2       4  978300055
1             3       5  978300055
1             4       5  978300055
1             5       3  978300103
...         ...     ...        ...
6040       1249       4  997454429
6040         88       3  997454464
6040        371       4  997454464
6040        464       3  997454486
6040        431       4  998315055

[999611 rows x 3 columns]

In [16]:
sas_data = actions.drop('Rating', axis=1, inplace=False).drop('Timestamp', axis=1, inplace=False)
## ..continue
sas_data.loc[1]

        MovieID
UserID
1             1
1             2
1             3
1             4
1             5
1             6
1             7
1             8
1             9
1            10
1            11
1            12
1            13
1            14
1            15
1            16
1            17
1            18
1            19
1            20
1            21
1            22
1            23
1            24
1            25
1            26
1            27
1            28
1            29
1            30
1            31
1            32
1            33
1            34
1            35
1            36
1            37
1            38
1            39
1            40
1            41
1            42
1            43
1            44
1            45
1            46
1            47
1            48
1            49
1            50
1            51
1            52
1            53

In [18]:
with open('ml-1m.txt', 'w') as f:
    for _id in set(sas_data.index):
        for movie_id in sas_data.loc[_id].MovieID:
            f.write('%d %d\n' % (_id, movie_id))

In [27]:
def data_partition(fname):
    usernum = 0
    itemnum = 0
    User = defaultdict(list)
    user_train = {}
    user_valid = {}
    user_test = {}
    # assume user/item index starting from 1
    f = open('%s.txt' % fname, 'r')
    for line in f:
        u, i = line.rstrip().split(' ')
        u = int(u)
        i = int(i)
        usernum = max(u, usernum)
        itemnum = max(i, itemnum)
        User[u].append(i)

    for user in User:
        nfeedback = len(User[user])
        if nfeedback < 3:
            user_train[user] = User[user]
            user_valid[user] = []
            user_test[user] = []
        else:
            user_train[user] = User[user][:-2]
            user_valid[user] = []
            user_valid[user].append(User[user][-2])
            user_test[user] = []
            user_test[user].append(User[user][-1])
    return [user_train, user_valid, user_test, usernum, itemnum]

In [49]:
dataset = data_partition('ml-1m')

In [50]:
[user_train, user_valid, user_test, usernum, itemnum] = dataset

In [24]:
len(user_train)

6040

In [25]:
len(user_valid)

6040

In [26]:
len(user_test)

6040

In [29]:
usernum

6040

In [30]:
itemnum

3416

In [36]:
import random
random.sample(range(1, usernum + 1), 10000)

[2410,
 677,
 1267,
 6109,
 512,
 1908,
 7074,
 3524,
 3296,
 1083,
 4743,
 3682,
 6252,
 874,
 1666,
 244,
 1402,
 5036,
 8103,
 1284,
 9094,
 2272,
 7757,
 1928,
 3426,
 6262,
 1180,
 1471,
 3643,
 129,
 6673,
 567,
 413,
 6180,
 9997,
 3920,
 3245,
 5370,
 9434,
 5536,
 4006,
 6363,
 466,
 280,
 1716,
 6539,
 1873,
 7427,
 5284,
 7087,
 4510,
 8527,
 3763,
 8722,
 9700,
 3981,
 5832,
 4390,
 9840,
 4337,
 7151,
 2346,
 9141,
 5940,
 548,
 2406,
 7099,
 7116,
 2647,
 80,
 323,
 7701,
 1529,
 6583,
 8432,
 9782,
 3092,
 2304,
 7077,
 6372,
 4915,
 4709,
 9496,
 3089,
 208,
 6622,
 9246,
 2357,
 3408,
 3898,
 3807,
 7442,
 7669,
 1225,
 2528,
 7759,
 9067,
 5180,
 1381,
 3019,
 3107,
 985,
 7897,
 9180,
 5139,
 2474,
 1661,
 9254,
 380,
 6085,
 3352,
 5058,
 3552,
 2627,
 1489,
 2809,
 7048,
 2891,
 868,
 4050,
 6885,
 6457,
 6058,
 7453,
 9124,
 2871,
 8120,
 1134,
 5867,
 4494,
 2846,
 3181,
 6772,
 8111,
 315,
 4396,
 737,
 6484,
 3952,
 314,
 9428,
 3974,
 1398,
 2239,
 4103,
 6294,
 685,
 393,
 8700,
 195,
 514,
 1779,
 9313,
 9754,
 634,
 8750,
 6334,
 6167,
 2235,
 5759,
 6378,
 2229,
 6547,
 7439,
 4699,
 3853,
 9734,
 8496,
 9580,
 7690,
 2508,
 27,
 8455,
 1327,
 2803,
 8104,
 5027,
 1264,
 9533,
 9042,
 3299,
 5810,
 1387,
 6160,
 83,
 7149,
 6911,
 5548,
 8241,
 1512,
 4263,
 1125,
 4694,
 3396,
 242,
 2132,
 3541,
 5987,
 310,
 8183,
 9164,
 2606,
 5316,
 9307,
 9424,
 9692,
 2733,
 3228,
 4046,
 7501,
 8015,
 4246,
 2690,
 8831,
 9513,
 2458,
 9983,
 6006,
 4435,
 5652,
 1433,
 5025,
 6668,
 4398,
 2383,
 9257,
 9309,
 1859,
 5381,
 191,
 8027,
 9304,
 5358,
 8189,
 6162,
 3158,
 2720,
 7742,
 2490,
 7491,
 2870,
 693,
 6471,
 4073,
 8377,
 1823,
 7251,
 160,
 3445,
 7869,
 4367,
 6077,
 9908,
 345,
 7437,
 3476,
 2788,
 6059,
 6700,
 7141,
 1896,
 309,
 6526,
 2597,
 3809,
 2675,
 3804,
 5216,
 6049,
 6395,
 3065,
 4497,
 3651,
 7395,
 9530,
 8882,
 7295,
 2510,
 6514,
 8277,
 4345,
 5016,
 7871,
 8399,
 1126,
 1311,
 785,
 8792,
 8473,
 4581,
 8415,
 2481,
 566,
 8857,
 6809,
 1368,
 1805,
 8697,
 6027,
 5085,
 4422,
 4171,
 8941,
 6441,
 2364,
 8221,
 4009,
 5779,
 7875,
 6635,
 5330,
 9129,
 2654,
 7187,
 4532,
 4141,
 1373,
 8239,
 2201,
 3740,
 8949,
 1636,
 9412,
 8418,
 3632,
 5754,
 6985,
 8638,
 3318,
 7428,
 4409,
 1936,
 7228,
 2160,
 4222,
 2309,
 5071,
 4830,
 4955,
 9026,
 857,
 5048,
 1161,
 4024,
 5300,
 2256,
 7618,
 1027,
 1754,
 1207,
 1810,
 8982,
 1466,
 3653,
 6535,
 115,
 3286,
 3995,
 4207,
 6656,
 3958,
 503,
 9765,
 5022,
 1123,
 7983,
 1479,
 5181,
 4291,
 1947,
 7980,
 1959,
 2631,
 839,
 5976,
 2909,
 9605,
 8620,
 4901,
 3862,
 4697,
 197,
 54,
 3506,
 6506,
 9480,
 7193,
 6213,
 7459,
 2935,
 8516,
 1783,
 9086,
 210,
 9679,
 9630,
 7418,
 3724,
 5875,
 3735,
 7941,
 4175,
 2885,
 3253,
 8632,
 5351,
 910,
 6425,
 4136,
 744,
 6263,
 6801,
 3886,
 9187,
 7834,
 2633,
 843,
 7733,
 9375,
 6576,
 3814,
 9456,
 8350,
 4918,
 1451,
 6177,
 1522,
 5028,
 8631,
 9219,
 4840,
 3183,
 2166,
 2082,
 4431,
 4540,
 1798,
 3478,
 7446,
 1940,
 62,
 8760,
 1185,
 9039,
 1969,
 6300,
 5076,
 8156,
 2624,
 7671,
 7668,
 9757,
 384,
 6946,
 7343,
 3210,
 3325,
 3110,
 4155,
 9727,
 5564,
 4457,
 936,
 6629,
 7756,
 3692,
 3900,
 111,
 4632,
 1454,
 1563,
 1317,
 5588,
 3908,
 8392,
 2151,
 6133,
 9278,
 1304,
 7902,
 9925,
 6429,
 6292,
 6839,
 4231,
 5919,
 2240,
 1257,
 4384,
 3850,
 3350,
 7479,
 124,
 9115,
 8950,
 5969,
 8822,
 9477,
 5303,
 4883,
 2630,
 8609,
 5466,
 7880,
 1153,
 4272,
 1886,
 5202,
 1320,
 6810,
 3109,
 5936,
 4555,
 213,
 5468,
 6572,
 3101,
 4245,
 1500,
 3452,
 9065,
 4557,
 4072,
 3884,
 2246,
 474,
 3708,
 454,
 5157,
 7339,
 4267,
 4578,
 5397,
 4316,
 542,
 2540,
 5042,
 2834,
 5473,
 9250,
 3100,
 9038,
 7420,
 5749,
 6062,
 1429,
 4965,
 3759,
 6581,
 4563,
 3180,
 1275,
 8171,
 3514,
 7773,
 5092,
 8740,
 3386,
 6432,
 606,
 1096,
 6886,
 8135,
 9112,
 4482,
 6218,
 5835,
 3153,
 664,
 630,
 1953,
 327,
 6074,
 6667,
 7741,
 8801,
 2573,
 6019,
 3959,
 9795,
 1094,
 5693,
 908,
 640,
 1608,
 8321,
 4381,
 9151,
 1797,
 5055,
 1155,
 7410,
 430,
 9970,
 2965,
 7159,
 5018,
 3212,
 4729,
 4306,
 4478,
 6534,
 5776,
 6266,
 4419,
 8811,
 8037,
 6722,
 5187,
 775,
 2978,
 7248,
 6038,
 5402,
 7034,
 3860,
 3987,
 6198,
 3756,
 5950,
 1293,
 8149,
 9092,
 9193,
 4853,
 612,
 39,
 8975,
 3196,
 4835,
 5977,
 7605,
 5088,
 5091,
 4105,
 1038,
 9741,
 4038,
 5480,
 878,
 7046,
 8459,
 7135,
 4963,
 4794,
 904,
 264,
 9090,
 1191,
 6932,
 5973,
 9547,
 2467,
 2103,
 3314,
 6283,
 6253,
 3700,
 2360,
 3384,
 5422,
 9328,
 1303,
 9241,
 5862,
 4844,
 424,
 8759,
 8000,
 4716,
 9629,
 6600,
 6238,
 6993,
 7891,
 5702,
 4616,
 9676,
 9296,
 9928,
 6428,
 4724,
 1984,
 2999,
 6298,
 5984,
 2489,
 1535,
 9079,
 4077,
 2941,
 9239,
 5974,
 9545,
 6444,
 2959,
 8887,
 2862,
 8741,
 2974,
 8199,
 2452,
 9874,
 6844,
 5698,
 9483,
 7334,
 5191,
 9333,
 2684,
 3793,
 5899,
 84,
 4734,
 651,
 9103,
 9806,
 2285,
 1258,
 2399,
 8292,
 5375,
 4527,
 7456,
 4943,
 4333,
 825,
 1743,
 4142,
 10,
 1434,
 6706,
 2496,
 3665,
 9347,
 2265,
 4887,
 8474,
 2636,
 1357,
 9555,
 8357,
 1201,
 4107,
 9647,
 5475,
 1076,
 7195,
 6233,
 8655,
 7559,
 849,
 9943,
 222,
 6566,
 4395,
 3246,
 5059,
 6620,
 3555,
 137,
 7191,
 2381,
 1861,
 6383,
 7267,
 9715,
 1115,
 7264,
 1347,
 5034,
 2629,
 2827,
 5603,
 404,
 8299,
 2112,
 711,
 9423,
 2145,
 1787,
 1196,
 4334,
 4427,
 1112,
 8936,
 1572,
 2770,
 4589,
 8140,
 6705,
 5215,
 1413,
 4706,
 6508,
 4268,
 8194,
 9502,
 3067,
 5001,
 1601,
 3162,
 9373,
 9332,
 120,
 1660,
 8961,
 5649,
 3905,
 6136,
 8733,
 2747,
 2843,
 2444,
 9544,
 5728,
 4363,
 4027,
 1117,
 659,
 9286,
 8290,
 7364,
 2117,
 1684,
 4761,
 881,
 1736,
 7268,
 1582,
 7793,
 8414,
 1412,
 8679,
 2906,
 157,
 637,
 7518,
 2592,
 5655,
 2826,
 8970,
 9540,
 8624,
 8613,
 5604,
 5364,
 4276,
 2847,
 897,
 6002,
 1103,
 5781,
 735,
 6118,
 4922,
 5394,
 6108,
 321,
 4923,
 8017,
 7043,
 4807,
 199,
 4566,
 6297,
 7411,
 9880,
 5498,
 1273,
 2173,
 4177,
 892,
 1214,
 6364,
 4852,
 8466,
 8668,
 4438,
 8262,
 2259,
 725,
 1793,
 4377,
 2745,
 1735,
 7449,
 3726,
 2696,
 4969,
 4489,
 8663,
 7683,
 4626,
 7327,
 7819,
 1916,
 500,
 4095,
 7247,
 9935,
 6029,
 151,
 6219,
 1254,
 7100,
 4730,
 604,
 3473,
 4848,
 2651,
 9517,
 5648,
 9764,
 6235,
 8021,
 9386,
 6942,
 655,
 2308,
 5347,
 2008,
 2785,
 6124,
 5909,
 7414,
 6877,
 5770,
 974,
 1330,
 9841,
 4407,
 850,
 994,
 2642,
 3549,
 5750,
 5154,
 6862,
 1543,
 3033,
 4740,
 6206,
 4907,
 2634,
 4506,
 375,
 2366,
 817,
 2886,
 5255,
 2755,
 4677,
 6596,
 1097,
 973,
 2691,
 855,
 4356,
 9087,
 3202,
 959,
 1599,
 4137,
 8990,
 9110,
 5676,
 473,
 2427,
 7244,
 3376,
 6098,
 8348,
 7134,
 5831,
 6103,
 8886,
 9310,
 8530,
 43,
 132,
 3909,
 2499,
 1334,
 3546,
 1263,
 3010,
 549,
 3583,
 1278,
 9355,
 7202,
 4152,
 9999,
 1693,
 7868,
 6247,
 5516,
 4418,
 6921,
 ...]

In [55]:
import numpy as np
import copy
import sys

def evaluate_window_valid(model, dataset, args):
    [train, valid, test, usernum, itemnum] = copy.deepcopy(dataset)
    Recall = 0.0
    P90 = 0.0
    # P90 coverage means the smallest item sets that appear in the top 10 lists of at least 90% of the users.
    valid_user = 0.0
    if usernum > 10000:
        # avoid too many training users
        # keep at most 10000 users
        users = random.sample(range(1, usernum + 1), 10000)
    else:
        # else keep all the users
        users = range(1, usernum + 1)
    for u in users:
        # make sure the sequence can be validated
        if len(train[u]) < 1 or len(valid[u]) < 1: continue
        seq = np.zeros([args.maxlen], dtype=np.int32)
        idx = args.maxlen - 1
        for i in reversed(train[u]):
            seq[idx] = i
            # fill the sequence from end to beginning
            idx -= 1
            if idx == -1: break
            # select the max len or all of the training data in the sequence
            # limit the length, seq contains the actual training sequence
        rated = set(train[u])
        rated.add(0)
        # all items interacted by the current user
        item_idx = [valid[u][0]]
        # get the index of validated item
        for _ in range(100):
            # negative sampling
            t = np.random.randint(1, itemnum + 1)
            # randomly sample 100 items
            while t in rated: t = np.random.randint(1, itemnum + 1)
            item_idx.append(t)
        predictions = -model.predict(*[np.array(l) for l in [[u], [seq], item_idx]])
        # predicting the recommendation list
        predictions = predictions[0]
        rank = predictions.argsort().argsort()[0].item()
        # the rank of the expected next single item
        valid_user += 1
        if rank < 10:
            Recall += 1
            # P90 coverage
        if valid_user % 100 == 0:
            print('.', end="")
            sys.stdout.flush()
    return Recall / valid_user, P90 / valid_user

[1] [[ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
   0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
   0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
   0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
   0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
   0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
   0  0  0  0  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19
  20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43
  44 45 46 47 48 49 50 51]] [  52 3156  331 2014 1803 3311 2133 3095  270 3336 2489  911 2651 2772
 1751 1917 3184 2776  546 2559 2438 1752 2832  305 1310  358  407  832
 1822 3073 2296 2952 2984  568  545 1530 3308  288  707 1595 3303 3129
 1114 2594 1580 2964 2359 3100 1828 2273 1759 2005 1760 3018 3170 2834
 3307 2039 1405 1922 3329  563  264 1825  577 2515  586  989 1790 2676
 3096 1914 1971  851  224  106 2790  890  491 2352 2395   64 1704 2192
  832 2113 2967 3241 1073 1164 3089 1837  249  390  262  137 1688 1557
 2088  107 1465]

In [ ]:
    # rated = set(train[u])
    # rated.add(0)
    # item_idx = [valid[u][0]]
    # for _ in range(100):
    #     t = np.random.randint(1, itemnum + 1)
    #     while t in rated: t = np.random.randint(1, itemnum + 1)
    #     item_idx.append(t)
    #
    # predictions = -model.predict(*[np.array(l) for l in [[u], [seq], item_idx]])
    # predictions = predictions[0]
    #
    # rank = predictions.argsort().argsort()[0].item()
    #
    # valid_user += 1

    # if rank < 10:
    #     NDCG += 1 / np.log2(rank + 2)
    #     HT += 1
    # if valid_user % 100 == 0:
    #     print('.', end="")
    #     sys.stdout.flush()
# return NDCG / valid_user, HT / valid_user

In [72]:
item_list = []

In [73]:
item_set = set(range(1,itemnum+1))
item_set = item_set - rated
item_list+= list(item_set)

In [74]:
len(item_list)

3077