In [1]:
from collections import defaultdict
from datetime import datetime
import torch
import numpy as np
import pandas as pd

In [4]:
ml_1m_path = '../../../../datasets/ml-1m'

In [6]:
file_path = ml_1m_path + '/ratings.dat'
# data = pd.read_csv(file_path, encoding='latin-1', sep=',', engine='python', index_col='userId')
data = pd.read_csv(file_path, sep='::', engine='python',
                   names=['userId', 'movieId', 'rating', 'timestamp'], index_col='userId')

In [7]:
data

        movieId  rating  timestamp
userId
1          1193       5  978300760
1           661       3  978302109
1           914       3  978301968
1          3408       4  978300275
1          2355       5  978824291
...         ...     ...        ...
6040       1091       1  956716541
6040       1094       5  956704887
6040        562       5  956704746
6040       1096       4  956715648
6040       1097       4  956715569

[1000209 rows x 3 columns]

In [8]:
actions = data
actions = actions.groupby('movieId').filter(lambda  x: len(x) >= 5)
actions = actions.groupby('userId').filter(lambda  x: len(x) >= 5)

In [9]:
actions = actions.groupby('userId', group_keys=False).apply(lambda  x: x.sort_values('timestamp'))

In [10]:
actions

        movieId  rating  timestamp
userId
1          3186       4  978300019
1          1721       4  978300055
1          1022       5  978300055
1          1270       5  978300055
1          2340       3  978300103
...         ...     ...        ...
6040       2917       4  997454429
6040       1784       3  997454464
6040       1921       4  997454464
6040        161       3  997454486
6040       1221       4  998315055

[999611 rows x 3 columns]

In [11]:
# data = data.groupby('userId')
min = 100000
max = 0
total = 0
for i in range(1, actions.index.max()):
    total += len(actions.loc[i])
    if len(data.loc[i]) < min:
        min = len(actions.loc[i])
    if len(data.loc[i]) > max:
        max = len(actions.loc[i])
min, max, total/actions.index.max()

(20, 2277, 165.44205298013244)

In [12]:
usermap = dict()
usernum = 0
itemmap = dict()
itemnum = 0
# reorder the userid and itemid (keep the same step with original SASRec code)
for _id, row in actions.iterrows():
    if _id in usermap:
        userid = usermap[_id]
    else:
        usernum += 1
        userid = usernum
        usermap[_id] = userid

    if row.movieId in itemmap:
        itemid = itemmap[row.movieId]
    else:
        itemnum += 1
        itemid = itemnum
        itemmap[row.movieId] = itemid

In [13]:
usermap.__len__(), itemmap.__len__()

(6040, 3416)

In [14]:
actions['movieId'] = actions['movieId'].map(itemmap)
actions.index = actions.index.map(usermap)

In [15]:
actions

        movieId  rating  timestamp
userId
1             1       4  978300019
1             2       4  978300055
1             3       5  978300055
1             4       5  978300055
1             5       3  978300103
...         ...     ...        ...
6040       1249       4  997454429
6040         88       3  997454464
6040        371       4  997454464
6040        464       3  997454486
6040        431       4  998315055

[999611 rows x 3 columns]

In [16]:
userMaxTime = actions.groupby('userId').timestamp.max()

In [17]:
userMaxTime

userId
1       978824351
2       978300174
3       978298504
4       978294282
5       978246585
          ...
6036    956755196
6037    956801840
6038    956717204
6039    956758029
6040    998315055
Name: timestamp, Length: 6040, dtype: int64

In [18]:
day = 86400
num_day = 14
userSplitTime = userMaxTime - num_day * day

In [19]:
actions

        movieId  rating  timestamp
userId
1             1       4  978300019
1             2       4  978300055
1             3       5  978300055
1             4       5  978300055
1             5       3  978300103
...         ...     ...        ...
6040       1249       4  997454429
6040         88       3  997454464
6040        371       4  997454464
6040        464       3  997454486
6040        431       4  998315055

[999611 rows x 3 columns]

In [20]:
userSplitTime

userId
1       977614751
2       977090574
3       977088904
4       977084682
5       977036985
          ...
6036    955545596
6037    955592240
6038    955507604
6039    955548429
6040    997105455
Name: timestamp, Length: 6040, dtype: int64

In [21]:
def filter_input(group):
    user_id = group.index[0]
    limit = userSplitTime.loc[user_id]
    return group[group['timestamp'] < limit]

def filter_target(group):
    user_id = group.index[0]
    limit = userSplitTime.loc[user_id]
    return group[group['timestamp'] >= limit]

In [64]:
input_data = actions.groupby('userId').apply(filter_input)
target_window = actions.groupby('userId').apply(filter_target)

In [65]:
input_data = input_data.reset_index(level=1, drop=True)

In [24]:
input_data

        movieId  rating  timestamp
userId
10          552       3  978224375
10          553       3  978224375
10          430       4  978224375
10          554       4  978224400
10           56       4  978224400
...         ...     ...        ...
6040        515       4  964828782
6040       2799       2  964828782
6040        984       5  964828799
6040        183       4  964828900
6040        829       5  984195682

[417212 rows x 3 columns]

In [66]:
target_window = target_window.reset_index(level=1, drop=True)

In [26]:
target_window

        movieId  rating  timestamp
userId
1             1       4  978300019
1             2       4  978300055
1             3       5  978300055
1             4       5  978300055
1             5       3  978300103
...         ...     ...        ...
6040       1249       4  997454429
6040         88       3  997454464
6040        371       4  997454464
6040        464       3  997454486
6040        431       4  998315055

[582399 rows x 3 columns]

In [67]:
input_idx = set(input_data.index)
target_idx = set(target_window.index)
valid_userid = input_idx.intersection(target_idx)

In [28]:
len(valid_userid)

1628

In [49]:
valid_user = sorted(list(valid_userid))
valid_user

[10,
 19,
 20,
 22,
 23,
 24,
 36,
 44,
 59,
 63,
 65,
 68,
 73,
 74,
 76,
 80,
 85,
 86,
 89,
 90,
 92,
 96,
 97,
 99,
 102,
 104,
 114,
 116,
 122,
 123,
 124,
 127,
 131,
 133,
 134,
 137,
 140,
 142,
 146,
 148,
 149,
 150,
 151,
 153,
 157,
 160,
 162,
 164,
 166,
 169,
 173,
 175,
 180,
 183,
 184,
 188,
 192,
 193,
 195,
 198,
 201,
 204,
 208,
 215,
 218,
 224,
 228,
 229,
 231,
 234,
 235,
 237,
 239,
 242,
 248,
 259,
 264,
 267,
 270,
 271,
 279,
 285,
 293,
 299,
 302,
 303,
 306,
 308,
 310,
 311,
 314,
 319,
 321,
 322,
 326,
 329,
 330,
 331,
 332,
 333,
 338,
 343,
 349,
 351,
 355,
 356,
 362,
 366,
 368,
 372,
 375,
 376,
 382,
 387,
 391,
 392,
 398,
 402,
 403,
 404,
 405,
 408,
 411,
 412,
 415,
 419,
 420,
 422,
 424,
 438,
 439,
 442,
 453,
 454,
 462,
 480,
 482,
 487,
 496,
 498,
 500,
 507,
 514,
 516,
 518,
 519,
 520,
 528,
 529,
 531,
 549,
 566,
 582,
 583,
 584,
 587,
 588,
 593,
 595,
 600,
 608,
 609,
 611,
 623,
 624,
 626,
 633,
 635,
 639,
 641,
 648,
 649,
 650,
 657,
 660,
 667,
 671,
 676,
 678,
 691,
 692,
 693,
 696,
 698,
 699,
 701,
 707,
 710,
 711,
 714,
 715,
 716,
 721,
 725,
 727,
 735,
 736,
 737,
 739,
 743,
 746,
 749,
 752,
 753,
 754,
 755,
 767,
 770,
 774,
 777,
 783,
 787,
 791,
 795,
 796,
 822,
 823,
 827,
 829,
 838,
 839,
 840,
 846,
 848,
 856,
 862,
 864,
 869,
 872,
 874,
 878,
 879,
 881,
 884,
 890,
 897,
 899,
 904,
 910,
 911,
 913,
 914,
 918,
 921,
 926,
 927,
 929,
 930,
 934,
 935,
 936,
 937,
 943,
 948,
 953,
 957,
 959,
 962,
 963,
 970,
 975,
 979,
 981,
 984,
 987,
 988,
 990,
 993,
 996,
 997,
 1001,
 1002,
 1005,
 1010,
 1015,
 1019,
 1020,
 1021,
 1026,
 1029,
 1033,
 1041,
 1043,
 1048,
 1050,
 1051,
 1058,
 1059,
 1061,
 1063,
 1064,
 1067,
 1068,
 1074,
 1077,
 1079,
 1086,
 1087,
 1088,
 1092,
 1101,
 1105,
 1107,
 1109,
 1113,
 1117,
 1120,
 1121,
 1124,
 1125,
 1127,
 1130,
 1137,
 1139,
 1141,
 1142,
 1149,
 1150,
 1160,
 1164,
 1165,
 1173,
 1181,
 1182,
 1186,
 1192,
 1193,
 1194,
 1195,
 1202,
 1203,
 1211,
 1213,
 1217,
 1218,
 1219,
 1220,
 1224,
 1225,
 1227,
 1228,
 1241,
 1242,
 1243,
 1246,
 1252,
 1256,
 1260,
 1265,
 1266,
 1268,
 1274,
 1278,
 1279,
 1280,
 1284,
 1285,
 1290,
 1291,
 1301,
 1302,
 1303,
 1306,
 1315,
 1317,
 1324,
 1327,
 1329,
 1333,
 1336,
 1338,
 1340,
 1343,
 1347,
 1348,
 1352,
 1354,
 1355,
 1356,
 1362,
 1369,
 1380,
 1383,
 1386,
 1389,
 1390,
 1395,
 1399,
 1404,
 1407,
 1413,
 1415,
 1420,
 1421,
 1422,
 1425,
 1426,
 1437,
 1447,
 1448,
 1449,
 1451,
 1455,
 1457,
 1458,
 1463,
 1467,
 1470,
 1483,
 1484,
 1491,
 1499,
 1500,
 1501,
 1502,
 1503,
 1505,
 1506,
 1509,
 1511,
 1516,
 1519,
 1524,
 1530,
 1538,
 1539,
 1546,
 1547,
 1551,
 1556,
 1557,
 1560,
 1561,
 1579,
 1584,
 1587,
 1590,
 1593,
 1597,
 1599,
 1601,
 1603,
 1605,
 1611,
 1616,
 1624,
 1628,
 1635,
 1638,
 1639,
 1643,
 1645,
 1647,
 1650,
 1651,
 1655,
 1657,
 1660,
 1666,
 1671,
 1676,
 1678,
 1680,
 1698,
 1699,
 1701,
 1702,
 1710,
 1712,
 1715,
 1716,
 1717,
 1723,
 1724,
 1728,
 1729,
 1733,
 1737,
 1739,
 1748,
 1752,
 1755,
 1759,
 1767,
 1776,
 1778,
 1779,
 1780,
 1789,
 1794,
 1798,
 1800,
 1804,
 1806,
 1812,
 1824,
 1827,
 1834,
 1836,
 1837,
 1839,
 1841,
 1842,
 1851,
 1854,
 1858,
 1860,
 1861,
 1862,
 1863,
 1865,
 1866,
 1873,
 1879,
 1882,
 1884,
 1889,
 1890,
 1897,
 1899,
 1912,
 1917,
 1922,
 1925,
 1926,
 1928,
 1930,
 1941,
 1943,
 1946,
 1949,
 1952,
 1954,
 1958,
 1959,
 1960,
 1962,
 1969,
 1974,
 1978,
 1979,
 1980,
 1982,
 1983,
 1988,
 1995,
 1996,
 1998,
 2000,
 2008,
 2011,
 2012,
 2015,
 2018,
 2019,
 2020,
 2022,
 2023,
 2025,
 2030,
 2031,
 2035,
 2036,
 2041,
 2047,
 2050,
 2057,
 2059,
 2060,
 2063,
 2070,
 2071,
 2076,
 2077,
 2078,
 2079,
 2082,
 2089,
 2092,
 2097,
 2103,
 2105,
 2106,
 2111,
 2114,
 2116,
 2119,
 2120,
 2122,
 2125,
 2127,
 2129,
 2131,
 2153,
 2159,
 2168,
 2172,
 2176,
 2181,
 2188,
 2190,
 2193,
 2195,
 2208,
 2210,
 2225,
 2232,
 2239,
 2242,
 2244,
 2246,
 2247,
 2255,
 2258,
 2269,
 2270,
 2271,
 2272,
 2276,
 2282,
 2303,
 2307,
 2310,
 2316,
 2321,
 2323,
 2330,
 2331,
 2332,
 2333,
 2342,
 2350,
 2353,
 2359,
 2360,
 2362,
 2376,
 2380,
 2383,
 2390,
 2395,
 2407,
 2409,
 2414,
 2415,
 2419,
 2427,
 2433,
 2436,
 2438,
 2446,
 2451,
 2453,
 2454,
 2462,
 2471,
 2472,
 2478,
 2485,
 2489,
 2493,
 2501,
 2504,
 2505,
 2507,
 2514,
 2520,
 2528,
 2529,
 2535,
 2544,
 2547,
 2555,
 2561,
 2565,
 2566,
 2574,
 2577,
 2581,
 2583,
 2593,
 2594,
 2597,
 2598,
 2609,
 2611,
 2621,
 2626,
 2627,
 2634,
 2636,
 2638,
 2641,
 2642,
 2643,
 2648,
 2650,
 2655,
 2665,
 2669,
 2670,
 2673,
 2683,
 2684,
 2688,
 2691,
 2715,
 2718,
 2724,
 2748,
 2749,
 2751,
 2753,
 2756,
 2757,
 2760,
 2762,
 2764,
 2766,
 2770,
 2772,
 2775,
 2777,
 2778,
 2779,
 2781,
 2784,
 2786,
 2791,
 2793,
 2796,
 2802,
 2803,
 2806,
 2808,
 2809,
 2810,
 2814,
 2820,
 2824,
 2826,
 2828,
 2832,
 2840,
 2841,
 2844,
 2847,
 2849,
 2858,
 2859,
 2860,
 2868,
 2872,
 2877,
 2878,
 2880,
 2882,
 2885,
 2887,
 2889,
 2892,
 2895,
 2896,
 2898,
 2903,
 2904,
 2905,
 2907,
 2909,
 2910,
 2911,
 2915,
 2917,
 2918,
 2919,
 2925,
 2926,
 2931,
 2933,
 2935,
 2936,
 2944,
 2946,
 2952,
 2962,
 2964,
 2969,
 2980,
 2985,
 2986,
 2987,
 2988,
 2991,
 2996,
 2998,
 3001,
 3002,
 3006,
 3011,
 3012,
 3013,
 3014,
 3015,
 3017,
 3018,
 3020,
 3029,
 3031,
 3033,
 3036,
 3038,
 3041,
 3051,
 3053,
 3054,
 3055,
 3057,
 3058,
 3065,
 3067,
 3072,
 3074,
 3075,
 3078,
 3079,
 3080,
 3085,
 3087,
 3089,
 3090,
 3093,
 3095,
 3096,
 3097,
 3106,
 3109,
 3112,
 3113,
 3115,
 3119,
 3125,
 3128,
 3140,
 3143,
 3146,
 3150,
 3152,
 3154,
 3156,
 3158,
 3159,
 3163,
 3171,
 3172,
 3174,
 3177,
 3178,
 3182,
 3189,
 3192,
 3194,
 3195,
 3196,
 3200,
 3201,
 3203,
 3210,
 3217,
 3219,
 3224,
 3227,
 3229,
 3233,
 3256,
 3258,
 3259,
 3260,
 3261,
 3262,
 3265,
 3266,
 3268,
 3270,
 3272,
 3274,
 3277,
 3278,
 3279,
 3280,
 3285,
 3288,
 3292,
 3299,
 3300,
 3301,
 3311,
 3312,
 3313,
 3314,
 3315,
 3317,
 3320,
 3323,
 3326,
 3327,
 3331,
 3332,
 3333,
 3336,
 3340,
 3355,
 3359,
 3363,
 3364,
 3367,
 3368,
 3371,
 3378,
 3386,
 3387,
 3391,
 3400,
 3401,
 3405,
 3410,
 3411,
 3412,
 3413,
 3414,
 3420,
 3423,
 3424,
 3425,
 3428,
 3430,
 3433,
 3435,
 3436,
 3437,
 3441,
 3452,
 3453,
 3454,
 3457,
 3459,
 3462,
 3464,
 3471,
 3473,
 3475,
 3476,
 3481,
 3483,
 3492,
 3495,
 3503,
 3504,
 3505,
 3507,
 3509,
 3512,
 3516,
 3518,
 3519,
 3520,
 3524,
 3526,
 3531,
 3532,
 3540,
 3547,
 3550,
 3557,
 3560,
 3561,
 3562,
 3569,
 3571,
 3589,
 3590,
 3591,
 3592,
 3594,
 3596,
 3599,
 3602,
 3607,
 3610,
 3612,
 3613,
 3619,
 3620,
 3624,
 3626,
 3628,
 3630,
 3634,
 3641,
 3643,
 3648,
 ...]

In [30]:
len(valid_user)

1628

In [31]:
len(input_data), len(target_window)

(417212, 582399)

In [32]:
valid_user

[10,
 19,
 20,
 22,
 23,
 24,
 36,
 44,
 59,
 63,
 65,
 68,
 73,
 74,
 76,
 80,
 85,
 86,
 89,
 90,
 92,
 96,
 97,
 99,
 102,
 104,
 114,
 116,
 122,
 123,
 124,
 127,
 131,
 133,
 134,
 137,
 140,
 142,
 146,
 148,
 149,
 150,
 151,
 153,
 157,
 160,
 162,
 164,
 166,
 169,
 173,
 175,
 180,
 183,
 184,
 188,
 192,
 193,
 195,
 198,
 201,
 204,
 208,
 215,
 218,
 224,
 228,
 229,
 231,
 234,
 235,
 237,
 239,
 242,
 248,
 259,
 264,
 267,
 270,
 271,
 279,
 285,
 293,
 299,
 302,
 303,
 306,
 308,
 310,
 311,
 314,
 319,
 321,
 322,
 326,
 329,
 330,
 331,
 332,
 333,
 338,
 343,
 349,
 351,
 355,
 356,
 362,
 366,
 368,
 372,
 375,
 376,
 382,
 387,
 391,
 392,
 398,
 402,
 403,
 404,
 405,
 408,
 411,
 412,
 415,
 419,
 420,
 422,
 424,
 438,
 439,
 442,
 453,
 454,
 462,
 480,
 482,
 487,
 496,
 498,
 500,
 507,
 514,
 516,
 518,
 519,
 520,
 528,
 529,
 531,
 549,
 566,
 582,
 583,
 584,
 587,
 588,
 593,
 595,
 600,
 608,
 609,
 611,
 623,
 624,
 626,
 633,
 635,
 639,
 641,
 648,
 649,
 650,
 657,
 660,
 667,
 671,
 676,
 678,
 691,
 692,
 693,
 696,
 698,
 699,
 701,
 707,
 710,
 711,
 714,
 715,
 716,
 721,
 725,
 727,
 735,
 736,
 737,
 739,
 743,
 746,
 749,
 752,
 753,
 754,
 755,
 767,
 770,
 774,
 777,
 783,
 787,
 791,
 795,
 796,
 822,
 823,
 827,
 829,
 838,
 839,
 840,
 846,
 848,
 856,
 862,
 864,
 869,
 872,
 874,
 878,
 879,
 881,
 884,
 890,
 897,
 899,
 904,
 910,
 911,
 913,
 914,
 918,
 921,
 926,
 927,
 929,
 930,
 934,
 935,
 936,
 937,
 943,
 948,
 953,
 957,
 959,
 962,
 963,
 970,
 975,
 979,
 981,
 984,
 987,
 988,
 990,
 993,
 996,
 997,
 1001,
 1002,
 1005,
 1010,
 1015,
 1019,
 1020,
 1021,
 1026,
 1029,
 1033,
 1041,
 1043,
 1048,
 1050,
 1051,
 1058,
 1059,
 1061,
 1063,
 1064,
 1067,
 1068,
 1074,
 1077,
 1079,
 1086,
 1087,
 1088,
 1092,
 1101,
 1105,
 1107,
 1109,
 1113,
 1117,
 1120,
 1121,
 1124,
 1125,
 1127,
 1130,
 1137,
 1139,
 1141,
 1142,
 1149,
 1150,
 1160,
 1164,
 1165,
 1173,
 1181,
 1182,
 1186,
 1192,
 1193,
 1194,
 1195,
 1202,
 1203,
 1211,
 1213,
 1217,
 1218,
 1219,
 1220,
 1224,
 1225,
 1227,
 1228,
 1241,
 1242,
 1243,
 1246,
 1252,
 1256,
 1260,
 1265,
 1266,
 1268,
 1274,
 1278,
 1279,
 1280,
 1284,
 1285,
 1290,
 1291,
 1301,
 1302,
 1303,
 1306,
 1315,
 1317,
 1324,
 1327,
 1329,
 1333,
 1336,
 1338,
 1340,
 1343,
 1347,
 1348,
 1352,
 1354,
 1355,
 1356,
 1362,
 1369,
 1380,
 1383,
 1386,
 1389,
 1390,
 1395,
 1399,
 1404,
 1407,
 1413,
 1415,
 1420,
 1421,
 1422,
 1425,
 1426,
 1437,
 1447,
 1448,
 1449,
 1451,
 1455,
 1457,
 1458,
 1463,
 1467,
 1470,
 1483,
 1484,
 1491,
 1499,
 1500,
 1501,
 1502,
 1503,
 1505,
 1506,
 1509,
 1511,
 1516,
 1519,
 1524,
 1530,
 1538,
 1539,
 1546,
 1547,
 1551,
 1556,
 1557,
 1560,
 1561,
 1579,
 1584,
 1587,
 1590,
 1593,
 1597,
 1599,
 1601,
 1603,
 1605,
 1611,
 1616,
 1624,
 1628,
 1635,
 1638,
 1639,
 1643,
 1645,
 1647,
 1650,
 1651,
 1655,
 1657,
 1660,
 1666,
 1671,
 1676,
 1678,
 1680,
 1698,
 1699,
 1701,
 1702,
 1710,
 1712,
 1715,
 1716,
 1717,
 1723,
 1724,
 1728,
 1729,
 1733,
 1737,
 1739,
 1748,
 1752,
 1755,
 1759,
 1767,
 1776,
 1778,
 1779,
 1780,
 1789,
 1794,
 1798,
 1800,
 1804,
 1806,
 1812,
 1824,
 1827,
 1834,
 1836,
 1837,
 1839,
 1841,
 1842,
 1851,
 1854,
 1858,
 1860,
 1861,
 1862,
 1863,
 1865,
 1866,
 1873,
 1879,
 1882,
 1884,
 1889,
 1890,
 1897,
 1899,
 1912,
 1917,
 1922,
 1925,
 1926,
 1928,
 1930,
 1941,
 1943,
 1946,
 1949,
 1952,
 1954,
 1958,
 1959,
 1960,
 1962,
 1969,
 1974,
 1978,
 1979,
 1980,
 1982,
 1983,
 1988,
 1995,
 1996,
 1998,
 2000,
 2008,
 2011,
 2012,
 2015,
 2018,
 2019,
 2020,
 2022,
 2023,
 2025,
 2030,
 2031,
 2035,
 2036,
 2041,
 2047,
 2050,
 2057,
 2059,
 2060,
 2063,
 2070,
 2071,
 2076,
 2077,
 2078,
 2079,
 2082,
 2089,
 2092,
 2097,
 2103,
 2105,
 2106,
 2111,
 2114,
 2116,
 2119,
 2120,
 2122,
 2125,
 2127,
 2129,
 2131,
 2153,
 2159,
 2168,
 2172,
 2176,
 2181,
 2188,
 2190,
 2193,
 2195,
 2208,
 2210,
 2225,
 2232,
 2239,
 2242,
 2244,
 2246,
 2247,
 2255,
 2258,
 2269,
 2270,
 2271,
 2272,
 2276,
 2282,
 2303,
 2307,
 2310,
 2316,
 2321,
 2323,
 2330,
 2331,
 2332,
 2333,
 2342,
 2350,
 2353,
 2359,
 2360,
 2362,
 2376,
 2380,
 2383,
 2390,
 2395,
 2407,
 2409,
 2414,
 2415,
 2419,
 2427,
 2433,
 2436,
 2438,
 2446,
 2451,
 2453,
 2454,
 2462,
 2471,
 2472,
 2478,
 2485,
 2489,
 2493,
 2501,
 2504,
 2505,
 2507,
 2514,
 2520,
 2528,
 2529,
 2535,
 2544,
 2547,
 2555,
 2561,
 2565,
 2566,
 2574,
 2577,
 2581,
 2583,
 2593,
 2594,
 2597,
 2598,
 2609,
 2611,
 2621,
 2626,
 2627,
 2634,
 2636,
 2638,
 2641,
 2642,
 2643,
 2648,
 2650,
 2655,
 2665,
 2669,
 2670,
 2673,
 2683,
 2684,
 2688,
 2691,
 2715,
 2718,
 2724,
 2748,
 2749,
 2751,
 2753,
 2756,
 2757,
 2760,
 2762,
 2764,
 2766,
 2770,
 2772,
 2775,
 2777,
 2778,
 2779,
 2781,
 2784,
 2786,
 2791,
 2793,
 2796,
 2802,
 2803,
 2806,
 2808,
 2809,
 2810,
 2814,
 2820,
 2824,
 2826,
 2828,
 2832,
 2840,
 2841,
 2844,
 2847,
 2849,
 2858,
 2859,
 2860,
 2868,
 2872,
 2877,
 2878,
 2880,
 2882,
 2885,
 2887,
 2889,
 2892,
 2895,
 2896,
 2898,
 2903,
 2904,
 2905,
 2907,
 2909,
 2910,
 2911,
 2915,
 2917,
 2918,
 2919,
 2925,
 2926,
 2931,
 2933,
 2935,
 2936,
 2944,
 2946,
 2952,
 2962,
 2964,
 2969,
 2980,
 2985,
 2986,
 2987,
 2988,
 2991,
 2996,
 2998,
 3001,
 3002,
 3006,
 3011,
 3012,
 3013,
 3014,
 3015,
 3017,
 3018,
 3020,
 3029,
 3031,
 3033,
 3036,
 3038,
 3041,
 3051,
 3053,
 3054,
 3055,
 3057,
 3058,
 3065,
 3067,
 3072,
 3074,
 3075,
 3078,
 3079,
 3080,
 3085,
 3087,
 3089,
 3090,
 3093,
 3095,
 3096,
 3097,
 3106,
 3109,
 3112,
 3113,
 3115,
 3119,
 3125,
 3128,
 3140,
 3143,
 3146,
 3150,
 3152,
 3154,
 3156,
 3158,
 3159,
 3163,
 3171,
 3172,
 3174,
 3177,
 3178,
 3182,
 3189,
 3192,
 3194,
 3195,
 3196,
 3200,
 3201,
 3203,
 3210,
 3217,
 3219,
 3224,
 3227,
 3229,
 3233,
 3256,
 3258,
 3259,
 3260,
 3261,
 3262,
 3265,
 3266,
 3268,
 3270,
 3272,
 3274,
 3277,
 3278,
 3279,
 3280,
 3285,
 3288,
 3292,
 3299,
 3300,
 3301,
 3311,
 3312,
 3313,
 3314,
 3315,
 3317,
 3320,
 3323,
 3326,
 3327,
 3331,
 3332,
 3333,
 3336,
 3340,
 3355,
 3359,
 3363,
 3364,
 3367,
 3368,
 3371,
 3378,
 3386,
 3387,
 3391,
 3400,
 3401,
 3405,
 3410,
 3411,
 3412,
 3413,
 3414,
 3420,
 3423,
 3424,
 3425,
 3428,
 3430,
 3433,
 3435,
 3436,
 3437,
 3441,
 3452,
 3453,
 3454,
 3457,
 3459,
 3462,
 3464,
 3471,
 3473,
 3475,
 3476,
 3481,
 3483,
 3492,
 3495,
 3503,
 3504,
 3505,
 3507,
 3509,
 3512,
 3516,
 3518,
 3519,
 3520,
 3524,
 3526,
 3531,
 3532,
 3540,
 3547,
 3550,
 3557,
 3560,
 3561,
 3562,
 3569,
 3571,
 3589,
 3590,
 3591,
 3592,
 3594,
 3596,
 3599,
 3602,
 3607,
 3610,
 3612,
 3613,
 3619,
 3620,
 3624,
 3626,
 3628,
 3630,
 3634,
 3641,
 3643,
 3648,
 ...]

In [68]:
filted_actions = actions.loc[valid_user]
# input_data = input_data.loc[valid_user]
# target_window = target_window.loc[valid_user]

In [69]:
input_data

        movieId  rating  timestamp
userId
10          552       3  978224375
10          553       3  978224375
10          430       4  978224375
10          554       4  978224400
10           56       4  978224400
...         ...     ...        ...
6040        515       4  964828782
6040       2799       2  964828782
6040        984       5  964828799
6040        183       4  964828900
6040        829       5  984195682

[417212 rows x 3 columns]

In [54]:
target_window

        movieId  rating  timestamp
userId
10          765       3  979775053
10          766       3  979775054
10           60       4  979775131
10          268       3  979775159
10          767       3  979775159
...         ...     ...        ...
6040       1249       4  997454429
6040         88       3  997454464
6040        371       4  997454464
6040        464       3  997454486
6040        431       4  998315055

[47227 rows x 3 columns]

In [51]:
filted_actions

        movieId  rating  timestamp
userId
10          552       3  978224375
10          553       3  978224375
10          430       4  978224375
10          554       4  978224400
10           56       4  978224400
...         ...     ...        ...
6040       1249       4  997454429
6040         88       3  997454464
6040        371       4  997454464
6040        464       3  997454486
6040        431       4  998315055

[464439 rows x 3 columns]

In [70]:
# map the user and item
usermap = dict()
usernum = 0
itemmap = dict()
itemnum = 0
# reorder the userid and itemid (keep the same step with original SASRec code)
for _id, row in filted_actions.iterrows():
    if _id in usermap:
        userid = usermap[_id]
    else:
        usernum += 1
        userid = usernum
        usermap[_id] = userid

    if row.movieId in itemmap:
        itemid = itemmap[row.movieId]
    else:
        itemnum += 1
        itemid = itemnum
        itemmap[row.movieId] = itemid

In [71]:
input_data['movieId'] = input_data['movieId'].map(itemmap)
input_data.index = input_data.index.map(usermap)

In [72]:
target_window['movieId'] = target_window['movieId'].map(itemmap)
target_window.index = target_window.index.map(usermap)

In [37]:
list(usermap.values())

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 ...]

In [73]:
input_data

        movieId  rating  timestamp
userId
1             1       3  978224375
1             2       3  978224375
1             3       4  978224375
1             4       4  978224400
1             5       4  978224400
...         ...     ...        ...
1628          7       4  964828782
1628       2391       2  964828782
1628        755       5  964828799
1628        976       4  964828900
1628       1775       5  984195682

[417212 rows x 3 columns]

In [74]:
target_window

        movieId  rating  timestamp
userId
NaN      1297.0       4  978300019
NaN       311.0       4  978300055
NaN       386.0       5  978300055
NaN        37.0       5  978300055
NaN      1530.0       3  978300103
...         ...     ...        ...
1628.0    734.0       4  997454429
1628.0    357.0       3  997454464
1628.0    145.0       4  997454464
1628.0    579.0       3  997454486
1628.0    399.0       4  998315055

[582399 rows x 3 columns]

Int64Index([    1,     1,     1,     1,     1,     1,     1,     1,     1,
                1,
            ...
            39019, 39019, 39019, 39019, 39019, 39019, 39019, 39019, 39019,
            39019],
           dtype='int64', name='userId', length=10504095)

In [61]:
with open('ml-1m_train.txt', 'w') as f:
    for _id in list(usermap.values()):
        movie_id_data = input_data.loc[_id].movieId
        if isinstance(movie_id_data, pd.Series):
            for movie_id in movie_id_data:
                f.write('%d %d\n' % (_id, movie_id))
        else:  # it's a single value, not a list
            f.write('%d %d\n' % (_id, movie_id_data))

In [75]:
with open('ml-1m_target.txt', 'w') as f:
    for _id in list(usermap.values()):
        movie_id_data = target_window.loc[_id].movieId
        if isinstance(movie_id_data, pd.Series):
            for movie_id in movie_id_data:
                f.write('%d %d\n' % (_id, movie_id))
        else:  # it's a single value, not a list
            f.write('%d %d\n' % (_id, movie_id_data))

# DATA reading

In [125]:
def data_partition_window_InputTarget_byP(f_train, f_target):
    usernum = 0
    itemnum = 0
    user_input = defaultdict(list)
    user_target = defaultdict(list)
    f = open('%s.txt' % f_train, 'r')
    # read from each line
    for line in f:
        u, i = line.rstrip().split(' ')
        u = int(u)
        i = int(i)
        usernum = max(u, usernum)
        itemnum = max(i, itemnum)
        user_input[u].append(i)
        # count user and items
    f = open('%s.txt' % f_target, 'r')
    # read from each line
    for line in f:
        u, i = line.rstrip().split(' ')
        u = int(u)
        i = int(i)
        itemnum = max(i, itemnum)
        user_target[u].append(i)
        # count user and items

    return [user_input, user_target, usernum, itemnum]

[_,_,a,b] = data_partition_window_InputTarget_byP('ml-20m_train', 'ml-20m_target')

AxisError: axis 1 is out of bounds for array of dimension 0